[2016-01-26 15:03] egeriis opened #1 "Change the way access token is retrieved for requests"
The current implementation depends on a certain structure which supplies an access token in `state.auth.user.access_token`.

This is a far too locked in structure for wide use and needs to be refactored.

[2016-01-26 15:03] egeriis opened #2 "Remove uploadFile method"
The `uploadFile` has nothing to do with JSON API. It is legacy from previous usage and should be removed.

[2016-02-10 16:27] egeriis opened #3 "Use camelCase for entity types"
When storing entities, the type should be camelized to adhere to common JS naming conventions.

This could potentially be a setting, whether to use camelCase or snake_case.

[2016-03-01 13:01] #1 closed

[2016-04-07 09:19] Lavoaster opened #9 "Axios"
I'd like to suggest the use of [axios](https://github.com/mzabriskie/axios) over fetch. It has quite a few benefits over fetch.

- Global Auth (Meaning auth would not be a concern of this package, you'd pass through an axios client preconfigured for auth)
- Interceptors (For an example of why this is useful, I use OAuth for API authentication, so the client deals with hourly access_token refreshes

[2016-04-07 15:23] Nopzen commented on #9
Hi @Lavoaster.

Thank you very much for you interest in Redux JSON API, i've taken a look and __axios__ and it looks like a nice addition to the tool.

We would __love__❤️ if you would like to create a fork, and write and implementation and submit a pull request to us and we will look it over as soon as we get it.

Make sure you are adding tests to the new implementation.

If you have any question

[2016-04-14 10:58] egeriis commented on #9
@Lavoaster Did you have time to look into this proposal?

[2016-04-14 15:05] Lavoaster commented on #9
@egeriis, I haven't yet. I'm currently on holiday so I won't be able to get on this until early next week.

[2016-04-18 12:41] egeriis commented on #9
@Lavoaster That's perfect :)

[2016-04-22 22:01] makeitTim opened #13 "Examples in README"
Hi, thanks for this!

I'm having trouble with the Usage instructions. I've created a store with the included reducer and the initial empty state is loaded (in this case into react). I have not been able to setup the endpoint or use it beyond this. Are there any examples? Even just expand the Usage section in the read me with where and how to use the setup and initial read actions/methods.

I have

[2016-04-23 13:51] egeriis commented on #13
Hi @makeitTim,

Thank you for your questions.

It would be easier for us to assist you, if you provided a code example with the state you're at. You say that you have not been able to setup the endpoint, do you mean that you're having trouble getting the host and path set in state?

The practice that we've used to far for binding the API data to views, is through the decorator [mapStateToProps](ht

[2016-04-23 15:57] makeitTim commented on #13
Thanks for the reply @egeriis

I've now been able to set the endpoint values in state. At first I thought the setup stuff were methods and the api calls were reducer actions, instead of the opposite? The state exists and has the endpoint entries but I havn't been able to get any api data returned, or get the error messages to work.

This is the code I have, right now just in my index.jsx
[code]
So

[2016-04-23 16:07] makeitTim commented on #13
I see how you map the JSON-API to props for the component, with all the extra object levels still included? My API call includes needed associated data which will be in completely different objects instead of correctly nested relationships. Making the JSON-API data a huge mess to work with... JSON-API needs that other step to turn it into usable data?

[2016-04-24 16:15] egeriis commented on #13
There's no such thing as a "reducer action" :)

All the methods that are exported by redux-json-api are actions. For actions to be properly executed, you need to dispatch them. So I think, from your example, what you need is to wrap `readEndpoint` in a `dispatch` call :)

-----

It's completely up to you, what data you map to your components. What redux-json-api ensures, is that you have each enti

[2016-04-24 16:15] egeriis commented on #9
Hey @Lavoaster, do you need us to assist with this PR?

[2016-04-24 17:00] Lavoaster commented on #9
Hey, I apologise about the lack of updates on my end. I intended to work on this when I came to refactoring a project at work to use this, however, that has been delayed. Consider this task "up for grabs" until I can finally get around this, so if anyone want to do this before I can feel free to do so. If it hasn't been done by the time I'm ready, I'll be able to do it. I don't want to block anyth

[2016-04-24 21:42] makeitTim commented on #13
`store.dispatch( readEndpoint('channels') )` errors `Uncaught Error: Actions must be plain objects. Use custom middleware for async actions.` which is why I thought readEndpoint() it wasn't meant to be an action. I'm surely missing something.

Regarding the data, it would be awesome to have a built in way to re-structure the data to expected relationships. Take your example, if you requested the l

[2016-04-24 23:39] chrisjowen opened #14 "State not updateding and getting Response object with body ReadableByteStream"
Hey,

Firstly this is a nice project, Im new to react/redux and also the jsonapi spec so Im sort of fumbling my way through. That said I have an issue that I will fully accept could be on the part of my lack of understanding but here goes.

When I setup the api host/path and dispatch an action to read an entity I did expect that the state would be updated. However what I am seeing is that the stat

[2016-04-24 23:41] chrisjowen commented on #14
Actually, to further add to this I also get an error from API_READ_FAILED:

```Cannot read property 'payload' of undefined```

Though if I look at the network debugger in chrome I can see that the response was successful and looks like:

[code]

[2016-04-25 08:07] egeriis commented on #9
Great, thanks for the update. We'll have a look at it ourselves :)

[2016-04-25 11:09] egeriis commented on #13
I'm not sure such restructuring can be done generic enough to be suitable for implementing into this library.

Maybe we're missing a dependency notation, because I think the error you're receiving is due to missing `redux-thunk`.

[2016-04-25 11:16] egeriis commented on #14
Hi Chris,

Thank you for your questions.

`payload` is a property produced by the action creator: https://github.com/dixieio/redux-json-api/blob/master/src/jsonapi.js#L29

Look into `redux-actions` for more on how `createAction` works :)

What is the response body from your API? Are you sure it's JSON API compliant?

It is expected for the whole Response object to be passed to the `onSuccess` call

[2016-04-25 22:05] makeitTim commented on #13
Yeah, @egeriis! That finally did it. I did not redux-thunk. I also needed to combine the redux-api-json reducer to api. I'm not sure if this is just right, but this is what I did to get working:

[code]

[2016-04-26 08:32] Nopzen commented on #13
Hey @makeitTim

Glad to see you got it to work, regarding getting state to update with the data coming back from your api call's. The trick here is that you bind the reducer from redux-json-api, to you store's combined reducers.

Here's a example that we are running with
[code]

In your example, the api is tied to reducer:
`combineReducers({'api' : reducer, myReducer})` - __reducer__ must be the o

[2016-04-26 11:31] wgAtTS opened #15 "Problem populating datastore"
I'm having trouble getting redux-json-api to populate my data store. I've created an example project here: https://github.com/wgAtTS/react-redux-json-api

When I call dispatch() the action fires, and I can see JSON being returned from the server. However, the JSON never makes it into the redux store. Here's a screenshot of what I'm talking about:

<img width="445" alt="screen shot 2016-04-26 at 11

[2016-04-26 12:00] egeriis commented on #15
Hi @wgAtTS,

Looks like something fishy is going on. `isReading` should not become a `NaN`.

What about the payload that your API responds with, can you post that here?

[2016-04-26 13:09] wgAtTS commented on #15
Sure! And thanks for the quick response. Here's a truncated version of what it's pulling down (sorry for formatting):

  "data" : [ {
    "type" : "tasks",
    "id" : "1",
    "attributes" : {
      "creator" : 1,
      "lastUpdater" : 1,
      "name" : "Task 1",
      "description" : "Description for Task 1",
      "updatedOn" : 1456743266.662000100,
      "createdOn" : 1456743266.662000000
    }

[2016-04-26 14:15] egeriis commented on #15
Fixed your formatting :)

Me or one from our team will get back to you soon.

[2016-04-26 21:12] makeitTim commented on #13
Thanks for the reply @Nopzen

Yes, in that example reducer is imported from redux-json-api. The state.api initial setup works and the state.api.endpoint stuff works. (I have now moved the reducers to separate files like your example). The endpoint call returns json successfully. The state data just isn't updating with the json data.

I do have the Redux Remote DevTools plugin installed... I've see

[2016-04-26 22:44] makeitTim commented on #13
Okay, it seems I'm no longer getting the json data because the api is now returning `304 Not Modified`.

[2016-04-27 08:40] Nopzen commented on #15
Hello @wgAtTS

I had a quick look at your code, one thing i saw that might cause the issue is when you are firing the function:

[code]

First you dispatch the `readEndpoint` witch is correct, witch then starts the api call, then you call the listsTasks, witch is fired right after the `readEndpoint`, here i see a possible issue, `readEndpoint` is async call and when you are calling the `listTasks(

[2016-04-27 08:40] egeriis commented on #13
Hey @makeitTim,

That the API returns 304, should not change anything. Then the browser will grab the response body from cache. This should not affect redux-json-api. But let me verify for a moment, if we've made an error and registered 300+ status codes as errors.

[2016-04-27 08:43] egeriis commented on #13
I can see that we've made an error and will throw an error if the status code is 300 or above.

https://github.com/dixieio/redux-json-api/blob/master/src/utils.js#L19

We'll fix that immediately and push an update.

[2016-04-27 08:52] egeriis commented on #13
Hey @makeitTim,

I'm not sure this is actually an issue in redux-json-api. The API that we're using, internally, is not responding with 304, so I cannot test the behaviour out of the box.

Can you try to disable the cache in your browser, and see if redux-json-api properly works?

If it works properly, then if you could add a breakpoint here and see if `res.json()` contains the response body? http

[2016-04-27 12:53] chrisjowen commented on #14
Hey,

Thanks for the quick reply, I understand the payload is been created from the action coming from the api creator from createAction. I am unable to check right now the headers that I am returning are correct. I am using https://github.com/AgilionApps/ja_serializer which I believe does add the correct  application/vnd.api+json headers but I will check tonight.

I think I recall looking at http

[2016-04-27 15:29] makeitTim commented on #13
Cool, thanks @egeriis I appreciate the help...

Yeah, I was wrong in my last post, it still contained the JSON data. This is the whole HTTP response :
[code]
Even though the Content-Length: 0 the response body does contain all the JSON-API data, structured `{ data: [...], included: [...] } `.

However, where you pointed out in the fetch().then() method of utils.js the response claims to be status:

[2016-04-27 18:21] makeitTim commented on #13
I prevented the server from responding with 304, it is now 200 without Content-Length. The same thing happens --- despite the response containing the JSON-API data res.json() is still a promise and the store never updates.

[2016-04-27 19:35] makeitTim commented on #13
Okay, I think I've solved it! (And being a promise there makes sense.) The problem was that the fetch() method checks for for only content types 'application/json', 'application/vnd.api+json' specifically, but mine was 'application/vnd.api+json; charset=utf-8'. So it was never returning the correct json. If I allow it, it returns the correct res.json() and the store updates!!

This is the [relevan

[2016-04-27 19:48] egeriis commented on #13
Haha, I'll be damned. That's a very nice catch, after a lot of digging!

Allow us to fix this tomorrow, we'll push an update. We decided to support both `application/json` and `application/vnd.api+json`, but it may be unnecessary to do so. But we'll surely implement the ability to pass params with the header.

Note: That `Content-Length` is 0, should be fine for cached resources. It just means tha

[2016-04-27 19:49] egeriis commented on #14
Did you have a look at #13? Another user had an issue, due to our library not properly parsing the `Content-Type` header, when a charset was passed along.

[2016-04-27 20:07] makeitTim commented on #13
My api (on rails 5) originally did have `application/json` set as the content-type and I switched it to `application/vnd.api+json` but couldn't immediately figure out how to remove the charset. Up to you guys how strictly the apiRequest method should verify JSON-API, but I tend not to want to rely on perfect headers if the json object itself is usable.

Regarding the 304, I just told the server to

[2016-04-27 20:09] egeriis commented on #13
It makes sense, if you have a working caching algorithm, to utilize that. What I was interested in hearing, is if the response was properly parsed by redux-json-api with 304 status code and Content-Type without charset?

[2016-04-27 22:33] antondomratchev commented on #3
I am currently using https://github.com/domchristie/humps in my own implementation.

[2016-04-27 23:43] makeitTim commented on #13
Yes... I turned the 304 back on. The response is `HTTP/1.1 304 Not Modified` and includes the json data, and that data loads correctly into the Redux state.api. When `res.status` is checked it is equal to 200, which I think makes sense because the browser just redirects 304 to the cache and calls it a 200 success. So it's as expected.

[2016-04-28 10:23] egeriis commented on #13
Great! Thanks for the clarifications.

[2016-04-28 10:25] Lavoaster commented on #9
@egeriis Have you guys already started looking into this? I've just been given the go ahead at work to start on it.

[2016-04-28 10:25] egeriis commented on #9
@Lavoaster We haven't had the time yet, unfortunately.

[2016-04-28 10:26] Lavoaster commented on #9
@egeriis Ok, I'll start work on it then.

[2016-04-28 12:35] Lavoaster commented on #9
@egeriis Why does the upload action append the access token as a parameter as apposed to the `Authorization` header? https://github.com/dixieio/redux-json-api/blob/master/src/jsonapi.js#L52

[2016-04-28 13:26] egeriis commented on #9
Yeah, good question. The only reason is that the `uploadFile` method is legacy, and does not belong to this library. We intend to remove it, see #2, but haven't gotten to it yet.
There are superior methods for uploading files, that adhere to the JSON API standard.

I suggest to either a) remove this method in your branch or b) update it to use Axios and allow us to remove it in another PR.

[2016-04-28 13:29] egeriis commented on #3
@antondomratchev How do you feel about that library?

[2016-04-28 14:19] wgAtTS commented on #15
I've simplified the code, but isReading is still showing isReading as NaN. I can see the GET request in Chrome's debugger returning JSON, but API is never populated.

    fetchTasks() {
        this.props.dispatch(readEndpoint('tasks'))
    };
    render() {
        return (
            <div>
                <button onClick={this.fetchTasks.bind(this)}>List Tasks</button>
            </div>

[2016-04-28 14:40] Nopzen commented on #15
Hi @wgAtTS

Im trying to troubleshoot a code a bit right now, im returning to you a bit later today, see if i found thing that could cause this `NaN` issue.

[2016-04-28 14:43] wgAtTS commented on #15
Thank you!

[2016-04-28 14:55] Nopzen commented on #15
@wgAtTS I your issue is in the way you configure your store, i can see you set a default store of:
[code]
This causes that you define the API object, and the the API object is not the one given from the Redux-json-api, therefore is it missing its `isReading` key, and when you run the fetch it cant find the previous key: value, and returns NaN.

Could you try to configure you store like this:
[code

[2016-04-28 15:10] wgAtTS commented on #15
Great! That did it. However, the tasks are still not being populated.

<img width="570" alt="screen shot 2016-04-28 at 15 07 49" src="https://cloud.githubusercontent.com/assets/17067710/14890640/0a683466-0d53-11e6-8763-a308ea0b35c6.png">

Am I correct in assuming the reducer should just be set up as:

    import { combineReducers } from 'redux'
    import { reducer as apiReducer } from 'redux-json

[2016-04-28 15:22] Nopzen commented on #15
Great that it worked for you @wgAtTS

Let me look in to this, im gonna write some tests or set up a neutral test case (example repo) ill get back to you as soon as i know more, we have had issues with this before that its not populating it to the api.endpointName - This should not be an issue on your side as i see for now, let me get back to you later today if i have a solution.

[2016-04-28 15:25] Nopzen commented on #15
@wgAtTS - Can you provide me your Request URL

[2016-04-28 15:38] wgAtTS commented on #15
Sure! http://localhost:8080/api/tasks

I really appreciate the help :)

[2016-04-28 20:44] egeriis commented on #15
Hey @wgAtTS,

Did you see the issue with `Content-Type` header in #14?

I think that might be your issue, because it is not the correct `payload` that are passed through the `API_READ` action.

[2016-04-28 20:56] egeriis commented on #15
I meant to reference issue #13

[2016-04-28 21:05] wgAtTS commented on #15
Hmm. Here are the headers being sent back:

<img width="392" alt="screen shot 2016-04-28 at 21 01 26" src="https://cloud.githubusercontent.com/assets/17067710/14901390/8fee83b6-0d84-11e6-9e7e-b330f18ee95e.png">

Could it be that it's choking on the charset=UTF8?

Here's the OPTIONS request just before the GET hits, but everything looks okay to me:

<img width="567" alt="screen shot 2016-04-28 at 2

[2016-04-28 21:13] egeriis commented on #15
Yup, that's what I was suspecting. The charset part of your Content-Type response header is messing up. It's fixed in #16, but yet to be released.

We'll probably release tomorrow. Would that be fine for you?

[2016-04-28 21:30] wgAtTS commented on #15
That would be fantastic :) Our app won't be in production for a while, but it will be a great help if we can start developing the React side of things.

Thanks a ton for the quick responses and patience. This is my first experience with React coming from Angular 1 ;)

[2016-04-29 12:37] egeriis commented on #15
Fix have been pushed. Can you confirm that it's working?

[2016-04-29 12:38] egeriis commented on #14
We've pushed an update (v1.3.5) which should fix this issue. Can you confirm?

[2016-04-29 12:38] egeriis commented on #13
We've pushed an update (v1.3.5) which should fix this issue. Can you confirm?

[2016-04-29 14:04] makeitTim commented on #13
Yep! The data is loading with `Content-Type: application/vnd.api+json; charset=utf-8`.

[2016-04-29 14:45] egeriis commented on #13
That's just wonderful. Thank you for helping pointing out this issue.

[2016-04-29 14:45] #13 closed

[2016-04-29 19:37] wgAtTS commented on #15
Works like a charm! Thanks so much!

I'll let you guys know if I run into anything else. As I get our app up, I would be happy to contribute via some kind of simple "starter" app project or some examples for React newbies like myself if you guys were interested.

[2016-04-30 09:51] egeriis opened #17 "Use promises instead of callbacks for success/error"
It would be more appropriate to return a promise from the async action creators, and utilize these to allow a client to respond to succesful and failed API requests.

I believe it would be possible to return a value from the action creator, e.g.:

[code]

And then allow clients to add resolve/reject callbacks:

[code]

I think this would be a superior API to the current options object.

[2016-04-30 09:53] egeriis commented on #15
Great @wgAtTS! Thank you for your help regarding this issue.

Any contribution will be deeply appreciated.

[2016-04-30 09:53] #15 closed

[2016-04-30 09:53] #14 closed

[2016-05-02 12:50] Nopzen opened #18 "Add missing support for a complete URL passed as endpoint."
When passing a complete URL as the endpoint, in this case a pagination.

`"http://my.app/api/v1/companies/1/timelineItems/?page%5Bcache%5D=1xfupzj63rtx&page%5Bpage%5D=2"`

Redux json api should recon. that this is a fully specified URL and just query the URL given from the backend, that it expects, instead of applying it as a endpoint. current situration happens below:

`"http://my.app/api/v1/http

[2016-05-02 15:29] egeriis commented on #18
For pagination purposes, I think it might even be a solution to add some API for easy navigation between pages.

This is a spec I could see as a proposal for this feature:

- [x] Be able to easily load data from `next` and `prev` API URLs through `redux-json-api`
- [x] An easy interface from `redux-json-api` to fetch stored data from state, that belongs to `next` and `prev` to avoid unnecessary AP

[2016-05-02 15:54] chrisjowen commented on #14
@egeriis perfect, works like a char,

[2016-05-02 16:40] egeriis commented on #14
Good to hear @chrisjowen

[2016-05-03 12:53] egeriis commented on #17
Refer to PR #19

[2016-05-03 12:53] #17 closed

[2016-05-04 15:40] Lavoaster commented on #9
@egeriis Do you guys do manual integration testing via another project using `npm link` and webpack with this package? If so, how does that work for you?

[2016-05-04 16:28] egeriis commented on #9
No, we do not do that at the moment. It's one of the think we'd love to improve. Automatic integration tests or something semi-automatic like using `npm link`.

It would be great if we could simulate API calls in unit tests also.

[2016-05-09 17:15] justaskz opened #22 "Update and improve README"
I am trying to use your library, but it is very hard. It seems that README is outdated. Could you please update it and also add atleast one full example, where you get data from server in your state? It would be very helpful!

[2016-05-09 17:16] justaskz commented on #22
I managed to reach the point where my code makes a request to the endpoint and prints response

[code]

[2016-05-10 08:17] Nopzen commented on #22
Hi @justaskz
Have you seen the issue's with header content-type #16 ?

Can you send me Content-Type in your response headers, just to check that aint whats messing you up?

Thanks.

[2016-05-10 09:43] egeriis commented on #22
@justaskz What is the issue you're experiencing? The four steps to get started is up to date. We acknowledge that it would be appropriate with a full example, but haven't been able to prioritize this yet. PRs are very welcome!

[2016-05-10 09:46] egeriis commented on #9
We've been using `npm link` for the latest PR, #21, and it's working great for us.

[2016-05-10 10:01] Lavoaster commented on #9
Ah, It hasn't been behaving for me. I guess it's a local webpack config issue with my project. For now I've been testing via installing directly via my github repo.

[2016-05-10 10:33] justaskz commented on #22
@egeriis The problem is that `readEndpoint('users')` returns another function which expects `dispatch` and `getState` functions. And only after that I get a promise (this is the last call in my code snippet).

So I made a conclusion, that either I missing something or README is out of date :D

[2016-05-10 10:34] justaskz commented on #22
@Nopzen I dont have problems with with JSON parsing, I am struggling to understand how to use this library :)

[2016-05-10 21:46] chrisjowen opened #24 "Clear state"
Hey Guys,

Whenever I make a request to readEndpoint it updates my state as I expected, but there are times when I really don't want to keep storing all this info in state and adding to it every time. One example of this in my case is a search functionality, every time I search I increase the amount of info in the state and I really want to simply replace what was there with the response from the

[2016-05-11 09:16] egeriis commented on #24
Hey @chrisjowen,

It's quite simple to extend the reducer using [reduce-reducers](https://github.com/acdlite/reduce-reducers).

Example:

[code]

[2016-05-11 09:18] egeriis commented on #24
We did consider adding an ability to clear a certain key on the API state, as you're suggesting. It's not something we've prioritized yet, or even considered which use cases should be covered.

A concern I have with your example, is that "/search/foo" is not a RESTful endpoint. It should be something like: "/users?filter[name]=foo" or "/search?filter[any]=foo". The `filter` param is very flexible

[2016-05-11 11:49] egeriis commented on #22
Yes, they are action creators, so you need to dispatch their return value, i.e. `dispatch(readEndpoint( ... ))`

[2016-05-11 21:16] chrisjowen commented on #24
I agree this is not as per JSON api spec (its still RESTfull though :p) but really its besides the point, a search is a good example where you would not likely want to keep all the state whatever way it is performed.

Im sure there must be many more use cases, for sure not all things that are returned from a rest call want to be kept on the client for longer than they are required. In the end I di

[2016-05-12 09:43] egeriis commented on #24
Yup, I agree that there may be more use cases. Make sure to let us know if you come up with any other cases. And search is a good use case, absolutely.

One of the challenges that are not straight forward to solve, is the challenge of which namespace in the API state should be cleared, when performing _this_ request. E.g., doing:

[code]

Which namespace is cleared? Or will the entire API state be

[2016-05-12 12:04] Nopzen commented on #24
Extending to your two possible solutions @egeriis, i think that it would be clear for the user what we clear with this approch:

[code]
Due to the nature of the tool, that what we query, we will store on a certain type key, if we just pass a options object `{ clear: true }` it should clear that key it would be stored in, and also limit the amount of options that needs to be passed, various constan

[2016-05-12 20:20] chrisjowen commented on #24
For what its worth for my use case I simply went for the explicit `clearState('keyName')` approach.

@Nopzen Im not sure that this is so clear, in my mind there are two ways of reading:

`readEndpoint('/users?filter[name]=foo', { clear: true })`

One is that the users key will be cleared, the other is that only users with the name 'foo' will be cleared from the collection in the key.

It gets even

[2016-05-12 21:52] justaskz commented on #22
The problem was that I didnt know that it requires thunk. Now it works fine. I think we can close this issue, because there is a PR https://github.com/dixieio/redux-json-api/pull/25

[2016-05-17 11:29] egeriis commented on #24
@chrisjowen That's some of my concern too. Also considering the nature of this library, that we're essentially grouping all entities of same type within the same key, will make it hard to solve this problem in a right way. So let's keep this discussion going :)

`clearEntities('users')` makes sense, it's easy to read and comprehend. However, it clears the entire list of `users` entities—as far as

[2016-05-17 11:30] egeriis commented on #22
That's a good point @justaskz. We'll review that PR :) Thank you for your contributions.

[2016-05-17 11:30] #22 closed

[2016-05-17 11:34] egeriis commented on #18
Closing this to urge further discussion to move to #21

[2016-05-17 11:35] egeriis commented on #9
How is this feature going along @Lavoaster? :)

[2016-05-17 11:48] Lavoaster commented on #9
Ah, you can see the initial commit of this 13 days ago, and as of right now nothing has changed. Last I played with this, I will be getting back on it soon, I was having trouble with axios and sending it the authentication header.

I'm not 100% sure if axios configuration should be managed through the redux store. As apposed to calling a method in this library to pass it a pre-configured axios ins

[2016-05-18 10:27] egeriis commented on #9
I've given this some thought, because I've used numbro and moment in some of our applications. And they also have some global configuration. For now I've bootstrapped that in my root view on `componentWillMount`. But tying it up to the redux store could make sense, if that's somewhat easily achievable. Not sure where to dispatch the actions that set the configuration though, might be a layer that

[2016-05-18 14:33] Nopzen opened #26 "API_READ fumbles many to many releationships"
When a endpoint returns a included data set, the reducer should set the relationship in relationships as an array not and object, with only one relation.

Case: (example call: `/api/users?include=comments`).
[code]

After it has been reduced i would come out like this
[code]
Instead of relationships being and `array` with both comments in, the reducer turns it to and object with one relation.

[2016-05-19 14:07] Realtin opened #27 "Module not found: Error"
Hey,

while trying to get started with redux-json-api me and my coworker run into that error, while trying to start our application.

[code]

I tried to remove my node_modules, run `npm cache clean`and `npm install` but the errors was still there.
we could reslove this however, by adding your dependecies to our own:

[code]

do you know what is happening there?

[2016-05-19 16:33] chrisjowen commented on #24
@egeriis  to me that would read that its clearing the comments only related to user/1. I think this might get complicated quickly, maybe just adding a better way to extend your reducer without having to copy the default parameters would be all that is required. I still also think that the generic ```clearEntities('users')``` makes a lot of sense, and yeah I would also assume it clear everything th

[2016-05-20 08:19] egeriis commented on #24
So maybe the approach of adding another action creator, `clearEntities`, is the way to go. I think this is the most clear solution too. It _could_ have a second argument with a callback, that would act as a filter. It could work as `Array.prototype.filter` to tell the library which entities to reject and keep.

[2016-05-20 08:22] egeriis commented on #27
It's not an issue we've seen before. But you should probably try to investigate on that error, if it isn't something with your babel binary or something like that.

We're not referencing any of the listed modules in this library, so it's probably a babel or webpack issue that occurs when transforming from ES6 to ES5.

[2016-05-20 08:23] egeriis commented on #27
For the record, we're using babel 6.3 in our projects.

[2016-05-20 08:57] egeriis commented on #26
Good catch. Let's look at this soon.

[2016-05-25 09:01] egeriis commented on #9
Closing as there is now a PR #29

[2016-05-25 09:01] #9 closed

[2016-06-02 06:12] Nopzen commented on #26
This does also cause an issue if using `updateEntity` if you have the writing rights to write this relationship then could potentially clear the entire relations, for given key.

[2016-06-02 15:43] matiaszanolli commented on #26
I've been tracing this error since a couple of days, and it seems there's an issue on the function `updateReverseRelationship`.

Let's take a simple example where a user has a list of projects, and each of them has this user as a related entity (it's a one-to-many relationship but it behaves the same way).

As a first step, the state will be filled with the user, its attributes and a list of relat

[2016-06-02 18:48] Nopzen commented on #26
Hey @matiaszanolli.
Ill have a look at the request, soon (highly likely some here mid week next week), a quick workaround might be the solution for now if we dont find a better solution.

I would say that this is kinda a important feature, that it could easily be come a case a item have an one-to-many / many-to-many relation. So i think it would be important to solve this prober from the get go :)

[2016-06-02 22:46] makeitTim commented on #27
I also ran into this problem whiling setting up my project on another computer. This wasn't happening before on previous setups --- inferring something has changed with one of the packages involved. The fix @Realtin gave of manually installing the dependencies worked.

My Babel versions is: `"babel-core": "^6.7.6"`

[2016-06-03 10:22] Realtin commented on #27
We are using `"babel-core": "^6.7.6"` as well!

[2016-06-28 10:09] Nopzen opened #35 "Module not found: Error: Cannot resolve module 'redux-json-api/lib/state-mutation/state-mutation'"
Redux JSON api v1.4.1

After a upgrade of the `redux-json-api` the tool is giving me following error:

[code]

[2016-06-28 13:27] Nopzen commented on #35
Fixed. Wrong link did not update project to use new redux-json-api folder structure

[2016-06-28 13:27] #35 closed

[2016-06-30 13:57] asiniy opened #36 "Uselessness of redux-json-api"
Please correct me if I'm wrong.

Let's say I have a simple structure, like `Post` & `Comment`. Read endpoint returning both tasks & comments which are belongs to tasks. So, I have a structure like:

[code]
I want to get only one element to show it on the page. It requires a js method like [find](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Array/find) to find a par

[2016-06-30 13:59] egeriis commented on #36
At the moment, we're sketching out possible solutions to this problem. It's not the current scope of the project, but an obvious addition. If you would like to participate, please consider use cases that you would like to have supported, then note them here 💜

[2016-06-30 14:09] asiniy commented on #36
The best solution in my opinion - is to write custom function, like `findResource(id, state)`, which takes an id and return model and association. I can write PR if you want to

[2016-07-01 04:28] asiniy commented on #36
I found that it's no problem to handle a lot of data collected by javascript `find()` method. You can do something like

[code]

there are no difficulties here... But. How can I fetch something if I have an search page and results depend on some queries I'm sending? I wouldn't implement filter according to params or something like that.

I presume best idea here - is to write action like `emptyAPI

[2016-07-01 08:12] Nopzen commented on #36
@asiniy

It is possible to extend our api localy to empty the api if that is needed. By simply just writing a emptyAPI(keyName) and then reduce the Redux store.

_Regarding a `emptyApi()`, it is flaged in another issue aswell, and one of the many small api's we want to integrate into the tool. #24 (also releated to a search feature)

[2016-07-01 10:10] asiniy commented on #36
@Nopzen ok, will try to do that

[2016-07-04 16:54] egeriis commented on #36
@asiniy Do you have anything to add? Otherwise we'll close the thread :)

[2016-07-04 17:51] #36 closed

[2016-07-04 17:51] asiniy commented on #36
@egeriis I did that for you

[2016-07-05 09:56] caalle commented on #27
I'm also running into the same issue, any updates on this?

[2016-07-08 09:48] #26 closed

[2016-07-08 09:49] egeriis commented on #27
@caalle I think we're simply missing a dependency in package.json. We'll look into this asap.

[2016-07-08 09:51] egeriis commented on #27
@caalle @makeitTim @Realtin Can any of you add some steps to reproduce?

[2016-07-13 20:51] wiltzius opened #38 "Consider documenting return signature of readEndpoint"
Hello,

I've started playing around with redux-json-api, migrating from a JSON API JS client my team wrote ourselves. So far it's wonderfully easy to use (well, after I read the docs in progress in #31 :) ), but I'm stuck on one common case that I don't see a natural pattern for. If you perform an endpoint read that returns multiple results (as in the case for e.g. a search query), state.api is po

[2016-07-13 20:58] wiltzius commented on #38
Also, I read through the discussion in issue 24, which gets at some of the difficulty I mentioned of clearing the results if you want to issue multiple queries to the same path/params. But that discussion seems to suppose there's already a way to handle search results (ignoring the clearing issue), making me wonder if I'm just missing something. So, this might be a more of a documentation request

[2016-07-14 13:56] egeriis commented on #38
For the cases where it is necessary to do something as implementation specific, you can use the promise that is returned when a `readEndpoint` action is dispatched. This promise will get the response as it's lone argument. Using this response to read the returned ID's or something similar, would be my recommendation on how to make this work, if the search results may get mixed in between other res

[2016-07-15 21:29] wiltzius commented on #38
Ah, I did not realize that the dispatch returned a promise with the response contents! That greatly simplifies things, and was the piece I was missing. So then this is just a documentation request. I don't think the new documentation in #31 mentions the promise at all, I guess this is meant to be implied by the use of redux-thunk but I think all that does is allow an action creator to return a pro

[2016-07-16 13:46] egeriis commented on #38
It's a good point that it's lacking from the documentation, we'll make sure to add it.

I don't think that the use of _redux-thunk_ is enough of a hint to imply that the actions may return a Promise. Considering that the return value can be any value :)

[2016-07-16 13:47] egeriis commented on #38
I'm adding a note to #31 that we need to mention promises, so I'll close this issue :)

[2016-07-16 13:47] #38 closed

[2016-07-19 11:34] asiniy opened #40 "Sorting, filtering & so on"
[JSON API](http://jsonapi.org/) supports a lot of things for fetching data, like sorting, filtering and so on: http://jsonapi.org/format/#fetching-sorting

How can I do same thing with `redux-json-api`?

[2016-07-19 14:27] egeriis commented on #40
To some degree. `readEndpoint` accept any URL, including any GET param, like `include`, `filter` or `sort`.

There's one caveat, however. That is that _redux-json-api_ will not guarantee that the objects are placed in state in the correct order. In the applications we've build at Dixie, we are putting the responsibility of sorting in the client. In rare occasions where we're using pagination, we'r

[2016-07-20 21:57] morenoh149 commented on #3
does it handle circular objects? I tried https://www.npmjs.com/package/camelize but it doesn't detect cycles.

[2016-07-26 14:26] egeriis commented on #3
@morenoh149 Circular objects? I'm not sure that is possible in a JSON response? With regards to the _redux-json-api_ state, there are no references between resources.

[2016-07-26 15:11] morenoh149 commented on #3
ah I misunderstood then. In a project I'm working on we denormalize the JSON response, i.e., make it a circular object client-side.

[2016-07-26 16:17] egeriis commented on #3
@morenoh149 Is that to reference related objects?

[2016-07-26 21:14] morenoh149 commented on #3
yeah. Only downside afaict tell is that the client cannot be isomorphic as you cannot serialize circular javascript objects. It's a design I've been wrestling with at <job> for months.

[2016-07-28 14:04] egeriis commented on #3
When the ability comes, I would consider using Proxy objects for this purpose. I've just written a polyfill'ish Proxy to use with _redux-json-api_, it works quite well.

[2016-08-12 07:37] bhtabor commented on #27
I was getting a similar error on a fresh [create-react-app](https://github.com/facebookincubator/create-react-app) and importing redux-json-api. They happen to have a different version of babel-runtime and that could be the cause. `rm -rf node_modules && npm install` resolved the issue for me.

[2016-08-12 11:39] Nopzen commented on #40
I do like the idea of sorting and filtering your data, and its fore sure some thing i've been thinking about a few times already, you are not alone @asiniy :)

I think i like the idea of calling the `readEndpoint('/endpoint?sort=age')`, the issue i can see here is there is no way of setting a Ascending or Descending order? Then we are kinda forced into restricting the users with the way that we th

[2016-08-12 13:27] egeriis commented on #40
_redux-json-api_ does not guarantee a certain order of the objects placed in it's Redux state. This is due to the way it handles additions of new objects and updates to existing objects. A minimal example is this array of `users` objects:

[code]

If Joe changes his name, and we want to register this update, we would run this code:

[code]

What happens when the following PATCH call was successful

[2016-08-12 13:28] egeriis commented on #40
@asiniy Did you receive a helpful response? Otherwise just reopen this issue and we'll make sure you're leaving this thread as a happy user 😄

[2016-08-12 13:28] #40 closed

[2016-08-15 02:52] mmahalwy opened #44 "Better usage docs?"

[2016-08-15 09:19] Nopzen commented on #44
Hi @mmahalwy
 - We are currently working on it, ill try to see if we can wrap this one up with in a reasonable time line. There is a current pullrequest #31 for the time being feel free to look for the docs needed.

If the documentation you need is non existing in that PR, we would gladly hear if we missed anything.

[2016-08-15 12:21] #44 closed

[2016-08-16 04:08] JaylonQi opened #45 "Can I set cookie in header, how?"

[2016-08-16 08:10] Nopzen commented on #45
Hi @JaylonQi
 - Im not sure are you asking if you can set a header based of a cookie
 - Or if you can set a cookie in the header?

Would like to know a bit more of the use case here?

[2016-08-16 10:07] egeriis commented on #45
We currently use `fetch` to make the async API calls. By default it doesn't send cookies to the server; https://github.com/github/fetch#sending-cookies

[2016-08-17 14:14] asiniy commented on #45
@JaylonQi there are two ways to implement it:

1. Change `fetch` configs directly into `node_modules` dir;
2. Use this PR branch: https://github.com/dixieio/redux-json-api/pull/41 feel free to set up cookie as you want

[2016-08-17 14:25] asiniy opened #46 "Create ability to catch errors"
In both master branch and axios implementation https://github.com/dixieio/redux-json-api/pull/41 there is no common way how to handle errors, like that:

[code]

This is extremely helpful feature in things like global authentication. Anywhere when user gets `Forbidden`, he is redirected to sign in page for example. No need to write same exception handlers anywhere.

What do you think?

[2016-08-18 01:51] JaylonQi commented on #45
Oh yeah, thank you all guys.
I have change fetch options in the redux-json-api to make the fetch take the cookie to the back.

[2016-08-18 01:51] #45 closed

[2016-08-22 12:00] egeriis opened #47 "Add changelog for v1.x -> v2.0"
- [ ] Change from fetch to Axios, requires changes in client configuration
- [ ] New response object in fulfillment handler
- [ ] `uploadFile` removed
- [ ] `onSuccess`/`onError` removed

[2016-08-22 12:01] egeriis opened #48 "Remove onSuccess and onError"
These methods were deprecated as of #17. Remove the callbacks in v2.0.

[2016-08-29 13:59] Dinoshauer opened #52 "Link to JSONAPI in the readme is wrong"
Hey peeps,

`www.jsonapi.org` doesn't resolve but `jsonapi.org` does :)

Just a heads up!

[2016-08-29 14:59] Nopzen commented on #52
Thanks @Dinoshauer  ill fix it now :p

[2016-08-29 15:00] Nopzen commented on #52
Fixed in https://github.com/dixieio/redux-json-api/commit/10788593036c4884d53f07678fc951af4994865b

[2016-08-29 15:00] #52 closed

[2016-08-31 00:02] jbadger opened #53 "Pass custom options to fetch"
There is currently no way (that I can see) to pass custom options to the fetch function in utils.js.  I need to be able to pass `credentials: 'include'` in the options hash for basic auth to work.

It'd be nice to set this as a global config option like host and path.

[2016-08-31 00:06] jbadger opened #54 "Ability to not send Authentication header with "Bearer" value"
Basic auth is not working in my application properly because the Authentication header is being passed with value "Bearer" and a null token.  This should be configurable as not all users will want this setup.

[2016-08-31 00:07] jbadger commented on #53
Part two to making basic auth work is in https://github.com/dixieio/redux-json-api/issues/54

[2016-08-31 09:18] avdeev opened #55 "Redux-saga support"
In our project I have been working with the redux-saga.

Is there a version of the work of the redux-json-api with the redux-saga instead redux-thunk?

[2016-08-31 12:21] egeriis commented on #55
Not at the moment, but we're very upon to [PRs](https://github.com/dixieio/redux-json-api/blob/master/CONTRIBUTING.md)

[2016-08-31 12:22] egeriis commented on #54
That is a great point. We will include the support for this in v2.0.

[2016-08-31 12:23] egeriis commented on #53
This will be included in v2.0 which includes a change from fetch to Axios #41

[2016-08-31 12:23] #53 closed

[2016-09-04 10:59] 4u opened #57 "CORS support"
In my project endpoint hosts on another domain. `window.fetch` doesn't allow to make requests to another domain without special `mode` param.

[2016-09-04 12:17] egeriis commented on #57
Hi @4u, CORS is indeed supported by fetch. We have our API on a different domain than our clients too. But you need to provide the proper header in your API responses and open up for `OPTIONS` requests.

[2016-09-04 12:17] #57 closed

[2016-09-05 13:04] Realtin opened #58 "Version 1.5 forces redux-thunk to be <2.0"
Hey,

in my project I'm using:
[code]
so Travis installed redux-json-api 1.5 but since the peerDependency for `"redux-thunk": "^1.0.0" ` my build will fail because `"redux-thunk": "^2.1.0"` does not satisfy.

Is there a reason for forcing the dependency to be <2.0?
Maybe the peerDependency can be relaxed?

[2016-09-07 13:25] Nopzen commented on #58
@Realtin - I think @egeriis did put on the `^1.0.0` due to thats where we are our own product currently, i will try to see if there are any severe changes from the `<2.0.0`, or having a talk with him, it would be lovely if possible to use the latest version of course :)

Let me have some investigation, and ill come back to you :)

[2016-09-07 13:36] Nopzen commented on #58
@egeriis - I dont see any huge changes, to the `redux-thunk` upgrade other than if a user is running a `CommonJS`require.

The ES6 Import method no changes have been made, according to the notes from @gaearon is mentioning here [gaearon/redux-thunk](https://github.com/gaearon/redux-thunk)

Should we maybe update the peerDependency to `2.0.0` as minimum requirements ? or not enforce `1.0.0` as hard

[2016-09-07 21:12] egeriis commented on #58
There are no breaking changes for our environment https://github.com/gaearon/redux-thunk/releases/tag/v2.0.0.

I think the first solution would be fine.

[2016-09-08 05:47] Nopzen commented on #58
Cool @egeriis will update that,

@Realtin - Would this solution be satisfying for you, ill try to make a small release of this either today or tomorrow?

[2016-09-08 12:47] Realtin commented on #58
yes that would be great @Nopzen :) Thank you!

[2016-09-09 08:11] Nopzen commented on #58
@Realtin - This issue should now be resolved, and is released under the tag `1.5.1`

Thanks for raising this issue.

[2016-09-09 08:11] #58 closed

[2016-09-13 19:36] DanBradbury opened #60 "Error on deleteEntity"
I'm getting a strange error when deleting a resource using `deleteEntity`.

[code]

from `utils.js`
[code]

The `DELETE` request is successful and the server responds with `204 No Content`

Since the server is correctly implementing the [jsonapi spec for delete](http://jsonapi.org/format/#crud-deleting) (using [`jsonapi-resources`](https://github.com/cerebris/jsonapi-resources)) I'd expect there t

[2016-09-13 21:34] Realtin commented on #60
I have the same issue.

[2016-09-13 21:47] egeriis commented on #60
That's interesting. I never noted that the spec notes:

That's definitely an oversight.

I reckon a quick fix would be a check on status code, as you suggest. The correct solution would probably be to check if there is any data in the response body, but I am not even sure that JSON API allows GET, PATCH and POST response body to be empty.

Are you up for making a PR @DanBradbury?

[2016-09-13 21:53] Petesta commented on #60
:simple_smile:

[2016-09-13 22:13] DanBradbury commented on #60
When updating relationships w/ `PATCH` [it may return](http://jsonapi.org/format/#crud-updating) a 204

The same is true for [creating resources](http://jsonapi.org/format/#crud-creating) (`POST`); must return either `201` or `204` on success

I wasn't aware of any 204s until this morning and can submit a PR to take a look at the status code. I'm under the impression that whenever we have a `204`

[2016-09-14 08:08] egeriis commented on #60
No, I think you're right. At least that would fall out of scope, as the API doesn't follow the spec then.

[2016-09-15 18:06] DanBradbury commented on #60
I went ahead and took a stab at taking care of this. Please review PR #61

[2016-09-17 08:02] zweck commented on #60
I'm having this same issue, our JSON-API serializer (https://github.com/fortunejs/fortune-json-api) seems to return `204` for updates by default which is also throwing:

[code]

[2016-09-20 14:23] evolve2k commented on #3
_I can see everyone points and sense a classic bikeshedding moment potentially arising._
Luckily for us JSON API contends that one of it's main benefits is as an "_anti-bikeshedding tool_".

I therefore suggest we follow the JSON API recommendations that "are intended to establish a level of consistency in areas that are beyond the scope of the base JSON API specification."

TLDR: The spec _recomm

[2016-09-21 15:06] evolve2k opened #62 "When updating state of changed entity related entity is not updated with new relation."
I'm following the API approach for createEntity.

I am updating an entity which is a child of a related entity, to illustrate I'll refer to task and TaskList from the official example as it is adequate currently to illustrate my point.

When createEntity is dispatched it is correctly updating the task to my backend. It is also updating state to include the new task BUT TaskList is not having it's

[2016-09-22 07:52] egeriis commented on #62
Hi @evolve2k,

Thank you for reaching out.

I need a bit more information, to answer your question. The update of reverse relationships are dependent on the relationship existing in both ends. I.e. the _taskList_ must have a `task` or `tasks` relationships key for it to be updated, when a _task_ has been updated. Likewise the _task_ must have the reverse relationship.

So what is your payload, how

[2016-09-22 09:00] evolve2k commented on #62
I understand mostly what you're asking and I hope I can form an answer that makes sense.
My backend API has relationships between my equivilent of TaskList and Task. Each TaskList has many Tasks and each Task has one TaskList.
(It's a Rails 4.2 backend using the 'react_on_rails' gem for what it's worth).

When I add an item (and include the foreign key for its parent TaskList) I can see that the c

[2016-09-22 14:06] gazpachu opened #63 "Ajax call is fine but the redux store is not getting the data"
Hi,

First of all many thanks for your work. This library looks promising (if I can make it work). I'm just trying to read a simple JSON stub and get it into the redux store. The first part (loading the data) works fine. I can see it with a console.log in the promise:

[code]

What it doesn't work for me is having the data in the redux store. I just get an empty container for the navigation key.

[2016-09-22 14:22] evolve2k commented on #62
Wow, somehow I was *that close*, got this working.  For anyone following my footsteps it seems that path 1 is closest to being correct. I just had a bit of syntax wrong and once it was working the new "tasks" started to appear in the view.

Checking the state, the task is added (as I can confirm in the Redux Dev tools with API_CREATED), the task does not appear in the state of the related entity,

[2016-09-22 14:27] gazpachu commented on #63
This line is very confusing:

`const mapStateToProps = ({ api: { navigation = { data: [] } } }) => ({ navigation });`

[2016-09-22 15:43] gazpachu commented on #63
Is there a way to have, in the redux store, the answers not in an array? Notice that everything is wrapped in [0]:

<img width="565" alt="screen shot 2016-09-22 at 13 52 53" src="https://cloud.githubusercontent.com/assets/1721288/18755305/9dd7e95e-80e3-11e6-9423-9ec2ece63c91.png">

[2016-09-22 18:59] egeriis commented on #3
Good point. But caterpillar-case is just not very JavaScript friendly. Imagine having to write this:

`const users = state.api["task-lists"].data[0].attributes["list-name"];`

I much prefer:
`const users = state.api.taskLists.data[0].attributes.listName;`

[2016-09-23 05:17] evolve2k commented on #60
Pull request #61 which resolves this issue has been merged in the last day or so.

@egeriis This issue can now be closed 🚪

[2016-09-23 07:26] #60 closed

[2016-09-23 15:10] egeriis commented on #60
I forgot to close the issue 🙂 Expected it to be closed automatically.

[2016-09-23 15:11] #63 closed

[2016-09-23 15:12] egeriis commented on #63
@gazpachu This structure is in place, because it is supposed to handle collections of resources 🙂 I cannot see a solution where `answers.data` would not be an array.

[2016-09-23 15:14] gazpachu opened #64 "Duplicated entries"
I'm not sure the root > topics entries in the redux store are duplicated. In the JSON file there are only 5 but in the redux store appear 10. Any idea of what could be wrong?

JSON file: http://vf-snowden-staging.herokuapp.com/topics/root

<img width="212" alt="screen shot 2016-09-23 at 16 04 15" src="https://cloud.githubusercontent.com/assets/1721288/18790969/d37e0c08-81a8-11e6-9d52-dd34d83f1643.

[2016-09-24 02:49] evolve2k opened #65 "Cookie based session credential authentication is not currently supported"
I have a redux app that is connected with a Rails backend using the '[react_on_rails](https://github.com/shakacode/react_on_rails)' ruby gem.

My redux app was correctly authenticating updates to my backend until I shifted across to redux-json-api. After a lot of hunting around we found that I was doing the call previously with the jquery ajax command and redux-json-api relies upon the newer fetch

[2016-09-25 03:45] evolve2k commented on #62
This is working in one part of my app but not another. I still don't understand it correctly.
Seems like a bit of magic how the parent related entity gets updated by redux-json-api in the store. Can someone shed more light and give me a explaination of how this part works>

[2016-09-26 02:03] evolve2k commented on #62
Just to document my progress, it turns out that the very popular ActiveModelSerializer ruby gem created by the creators of JSONAPI actually doesn't support the full spec!!!

**TLDR; If you're using JSON API with Rails get off of ActiveModelSerializer and shift to JSONAPI_resources.**

### Why?

Reference: JSON API with Rails 5 (https://youtu.be/EpzIhQBXUQk?t=9m10s)

Im now migrating across to usin

[2016-09-26 09:53] egeriis commented on #62
Relationships are a bit magic with regards to the JSON API v1 spec as they don't specify their inverse relation. Thus the implementation in _redux-json-api_ assumes some things, that may provide needed functionality for most cases but not in all:

1. When _redux-json-api_ reads and parses a resource, it will look through relationships of that resource
1. The relationship of a resource has a few pi

[2016-09-26 14:45] cfey opened #67 "Etags"
Hi guys,
first of all thanks for the awesome work!

I'm quite new to React - Redux and your awesome library

I have a question regarding ETags.
Does your library support ETags? and if, how?

Conventionally I tried to pass a 2nd argument into `readEndpoint` like
 `readEndpoint(route, {'If-None-Match': '123'})`

But apparently that doesn't work. :/

Cheers

[2016-09-26 15:19] egeriis commented on #67
Hi @cfey,

Thank you for your question and interest in our library.

Etags are not supposed to be implemented in clients, they are implemented by the browsers. If your API responds with the correct headers, you should be good to go.

—R

[2016-09-26 15:19] #67 closed

[2016-09-26 15:21] egeriis commented on #65
We are currently working on updating the library to use [Axios](https://github.com/mzabriskie/axios) instead. This would make it far easier for you to tailor the requests our library makes for your implementation purpose.

Hopefully we can get this closed within a few weeks. Is this functionality urgent for you, or are you relying on your fork to have your application working currently?

[2016-09-26 15:22] egeriis commented on #64
@gazpachu That's interesting. This shouldn't be possible, but we have never used string IDs ourselves. If you can create a PR, we'd be happy to resolve this asap. Remember to include broken test before implementing a fix :)

[2016-09-26 21:47] jbadger commented on #65
I'm relying on a fork for this same issue:  https://github.com/dixieio/redux-json-api/issues/53

And related issue: https://github.com/dixieio/redux-json-api/issues/54

[2016-09-27 01:39] evolve2k commented on #65
I am needing this and it will affect anyone using redux-json-api with a Rails backend AFAIK.
It was a real sticking point that it wasn't there, as I mentioned I spent ages debugging to discover this was the issue.

Would hugely appreciate if it could possibly be included as it's really a requirement to be able to use this library at the moment,  happy to have it deprecated at a later date when ver

[2016-09-27 09:16] egeriis commented on #65
Really depends on your auth strategy. I would be surprised if there are no other auth strategy than cookie based in Rails :) Especially considering that cookies are not best practice.

[2016-09-28 08:02] cfey commented on #67
AFAIK that's true for files (images, etc.) but apparently doesn't work for json responses
for example:
If I request an item from my API, I get an ETag in the header. When I request the same item again with the request header "If-None-Match" set to the given Etag, the response is a 304
Without the "If-None-Match" header I get a 200.

Maybe I'm wrong, but what I read so far comes down to, that I hav

[2016-09-29 10:37] gazpachu commented on #64
@egeriis thanks. I think there was a problem with the JSON. I cannot replicate the issue anymore.

[2016-09-29 10:37] #64 closed

[2016-09-29 16:19] evolve2k commented on #3
So just to clarify I think we're talking about two naming conventions (that could be the same I suppose).

One is the naming convention for the end point itself:
localhost:3000/api/v1/food-products
localhost:3000/api/v1/foodProducts

[2016-09-29 16:29] morenoh149 commented on #3
I think if the project's name has `json-api` in reference to the jsonapi.org spec, you should implement all the recommendations written there. Otherwise why bother right? the point is to conform to single format.

You could always provide alternatives user's can opt into though, like say camelcase.

[2016-09-30 08:20] egeriis commented on #67
As far as I can see, etags are not supported by fetch, which we rely on for the requests. However in v2.0 we will shift to Axios, which uses AJAX requests by default. Thus you will probably have to wait for this or see if you can implement this lib: https://github.com/export-mike/f-etag

[2016-09-30 08:20] egeriis commented on #64
@gazpachu Happy to hear that you found a resolution. Let us know if problem re-appers.

[2016-09-30 08:25] egeriis commented on #3
@morenoh149 The spec doesn't require that attributes are caterpillar-case. But should your server implement all recommendations, there are nothing in _redux-json-api_ that hinders that.

The motivation for this issue arose to provide a client-side ensurance that all resource types, attributes and relationships are in a particular case. Whether we would provide an ability to specify which casing ea

[2016-09-30 09:31] gazpachu opened #69 "Map the 'included' section from the JSON as a prop"
In the docs, it shows how to map 'data' as a prop, but what about 'included'?

I've tried like this, but it doesn't show up:

`const mapStateToProps = ({ api: { topics = { data: [], included: [] } } }) => ({ topics });`

[2016-09-30 09:44] Nopzen commented on #69
Hi @gazpachu

When a Request is resolved, the included data will be merged with data, and then reduced on to your API key, in this case `topics`

We dont expose the include, since `redux-json-api`merges them internally.

Hope this helps?

[2016-09-30 10:09] gazpachu commented on #69
Hmm, I don't see it inside topics. Maybe I'm missing something.

[2016-09-30 12:57] Nopzen commented on #69
Can you show me your `readEndpoint` dispatch, and the response from the server ?

[2016-09-30 13:14] gazpachu commented on #69
Original JSON from the server:

[code]

Console.log of the readEndPoint:

![screen shot 2016-09-30 at 14 12 35](https://cloud.githubusercontent.com/assets/1721288/18992774/068ad7ba-8718-11e6-85d5-702ceb16f651.png)

Data in the redux store using React Dev Tools:

![screen shot 2016-09-30 at 14 14 09](https://cloud.githubusercontent.com/assets/1721288/18992792/250c485e-8718-11e6-9ab4-494c48f1f074.pn

[2016-09-30 14:17] Nopzen commented on #69
@gazpachu - Your included data should be under apikey `questions` - becuase the type of the data is `questions` :)

[2016-09-30 14:38] gazpachu commented on #69
@Nopzen do you mean like this?

[code]

[2016-10-03 03:12] evolve2k commented on #62
Thanks for offering to help @egeriis.
It's taken me a while to get my head around how I can best share this with you as the json, is very long and it's been a bit of messing around to get it shorter.

All I'm needing to achieve is basic CRUD actions between my redux app and my rails backend. I keep feeling like it's one step forward and two steps back, none-the-less, I hope with a little help from

[2016-10-03 03:32] evolve2k commented on #62
Note, on the server side (Rails 4.2 using the JSON_Resources gem), I've reconfigured the API to serve up camelCase as keys within the JSON.

JSON_Resources defaults to _caterpillar-case_ or as they call it _dasherized_ but allows you to reconfigure the key type. It seems that the uri format is fixed as _caterpillar-case_.

If redux-json-api supported caterpillar case I think this would just work e

[2016-10-03 08:15] Nopzen commented on #69
No, What i mean is on the API key on your redux state [explained here](https://github.com/dixieio/redux-json-api/blob/master/docs/set-up-configure.md) - the section called: _Add reducer to api namespace_

There should now be a key called `questions` after the include call have been successful resolved.

[2016-10-03 08:18] evolve2k opened #70 "How to use my own fork of this repo on github"
Hey I've forked the repo and been playing around with my own changes but I keep needing to manually copy the changes into the node_modules directory of my project and Im also having random dependancy issues depending on what Im trying to do.

I've asked generically on SO, and googled a lot but it seems it's an it depends type answer.

I figured you folks are regularly working on this code and have

[2016-10-03 10:03] gazpachu commented on #69
I'm not sure I understand what you mean. Like this?

[code]

[2016-10-03 11:04] Nopzen commented on #69
@gazpachu  Show me the Redux state after the request is successful, Becuase it should be there.

You should not handle the storing of included data your self that is what the tool should do, the console log you ref. to is correct it shows the data as it should be.

The screenshot where you show `topics` is also correct, it should not be stored under topics. it should be stored under key `questions

[2016-10-03 11:43] gazpachu commented on #69
In the Redux dev tools it shows up correctly! O_O

![screen shot 2016-10-03 at 12 43 34](https://cloud.githubusercontent.com/assets/1721288/19036318/07ec0204-8967-11e6-983f-3efd37f32818.png)

[2016-10-03 12:04] Nopzen commented on #69
Check the state then,  it should be there under the `state.apikey.questions` from there you are able to access it.

[2016-10-03 12:07] Nopzen commented on #69
The INCLUDED data will be stored under the INCLUDED entiy types, __NOT__ under `topics`

Try this for you're mapStateToProps.
`const mapStateToProps = ({ api: { topics, questions }) => ({ topics, questions });`

[2016-10-03 12:17] gazpachu commented on #69
`const mapStateToProps = ({ api: { topics = { data: [] }, questions = { data: [] } } }) => ({ topics, questions });`

That returns this error: useQueries.js?335c:115Uncaught (in promise) TypeError: Cannot read property 'query' of undefined(…)

`const mapStateToProps = ({ api: { topics, questions }}) => ({ topics, questions });`

That returns this error: Uncaught TypeError: Cannot read property 'da

[2016-10-03 12:23] Nopzen commented on #69
Ahh yeah i forgot to unpack data, and/or set a default data empty array my bad, for you in my example witch will result in the latter error.

How every the first error seems like we are on to somthing right here, but that is nothing i can help you with, since it looks like your are trying to read key `query` from some object im not aware of, set a break point in your `useQueries.js` and figure wha

[2016-10-03 12:26] gazpachu commented on #69
You are right. With the first line of code it works! even if it throws the error about the query. I don't know what's that all about

[2016-10-03 12:28] #69 closed

[2016-10-03 12:50] Nopzen commented on #70
Hi @evolve2k

The way that we are doing this our selfs is we are using the `$ npm link` feature, what this does it it creates a symlink too the npm package, then we do changes in the package run the `$ npm build` and then refresh our browser. and it should work

### How to set up the link
1. Go to your local fork, in the root (where package.json is located), and write `$ npm link`
 - It should spi

[2016-10-03 12:50] Nopzen commented on #69
No problem happy to help.

[2016-10-03 19:36] jbadger opened #71 "Unable to set query parameters for create, update, and delete actions"
I've looked through the documentation and code but am unable to find a way to set query parameters when creating, updating and deleting objects.  Reading isn't affected by this problem since you can pass whatever URL you want.

[2016-10-04 00:17] evolve2k commented on #70
Thankyou!

I've given this a go, but am getting this warning.
Locally I ran:

`$> npm run build`

Then on booting my app, I'm getting:
[code]

[2016-10-04 07:21] Nopzen commented on #70
HI @evolve2k

I just did a small reading on this, that this is just a guideline to dont do this in "production" you application should still work, we have never seen this our self, it looks like a setting in your webpack setting that it will show these errors, altho im not sure.

If the application running as intended or does this block your application ?

[2016-10-04 07:25] evolve2k commented on #70
Yeah it's blocking the app from running.

[2016-10-04 07:27] Nopzen commented on #71
Hi @jbadger

Could you give me an example of what you want to achive with adding paramenters ?

According to the Spec a Create, Update & Delete should only take a single object and the server should from the request method then figure to do what you want to achieve.

What is  it that you would like to achieve with URL Params ? :)

[2016-10-04 07:29] Nopzen commented on #70
Okay, Uhm right now i cant tell why due to i've never experiences this error, but lets do a bit of research on this, we have only experiences that it would have a hard time on the linter & missing dependencies.

[2016-10-04 07:52] Nopzen commented on #70
@evolve2k
I think this thread is what you want to look at: https://github.com/webpack/webpack/issues/1617 ? Maybe you could find some assistance here.

[2016-10-04 08:26] Nopzen commented on #70
@evolve2k as a last resort you could try is to replace in your `package.json` our package with your own fork _(github url)_, it should work aswell, if this `npm link` is causing more issues than good, it is notorious for being a bit wired with webpack, its not the first time i've seen funky errors with it.

[2016-10-04 15:44] jbadger commented on #71
Sure, the simplest being that I want to the pass the `include` parameter to retrieve associations with the updated resource.

Using the example from jsonapi.org, let's say i'm updating the article and I also want to use this same call to get any new comments that were posted instead of having to perform another API call.

I've also read through the entire spec and don't see anything saying you can

[2016-10-05 06:53] Nopzen commented on #71
Hi @jbadger

I totaly agree with you that making a second request is a bit tedious, and currently its not supported no, and im sure the reason for this is that `POST`, `PATCH` & `DELETE` is only concerned one single entity and there for should start fetching new data this is a `GET`requests purpose, this is keeping the responsibility low for the API and not making it done everything in one go.

I

[2016-10-05 13:25] egeriis commented on #62
Let me get back asap. But regarding resource URLs I reckon that they need to be camel case according to spec.

[2016-10-05 17:29] Petesta opened #73 "Update action returns list out of order"
I was wondering if there is a way to specify the ordering on an array or have the resulting array not change its ordering. Let's say you're referring to the users of a company, on `updateEntity`. For example, if all users are already listed in order by `id` then when you call `updateEntity` lets say to change the name of the first user in the array, the resulting array will return out of order.

[

[2016-10-05 22:52] DanBradbury commented on #73
👍 Running into a similar issue where I'm either required to sort every time a record is updated or make another fetch after clearing out state (check for `API_WILL_READ` action and clear the payload in question)

I'd be curious if changing the default behavior would be desirable (i.e preserving ordering w/ find and replace on default) or if it would be possible to add options to `updateEntity`. Ma

[2016-10-06 07:02] Nopzen commented on #73
Personaly i think the behaviour of scrambling the data is okay.

The issue is that diffrent people uses diffrent `id`'s witch can either be incremental `id` witch this pr #74 by @Petesta would solve, but the issue it dosen't solve the issue for people using other `id`types such as `UUID`.

Im not closed for the idea personally, but we need to atleast send a flag to the state updater witch key shou

[2016-10-06 07:45] Petesta commented on #73
@Nopzen It's not a case of sorting by `id` or any key for that matter. I was just trying to use that as an example. That may have been confusing. Here's what's currently going on.

[code]

If I have a collection and pass it into a function that is supposed to update only an element of the collection I'd expect that function to preserve the structure of the collection minus the update on the elemen

[2016-10-06 08:43] Nopzen commented on #73
Ahh Sorry, that is my bad @Petesta I've understood you wrong, What i then understand is that if you update key 2 in the array you expect it to be on the key 2 again, that would make sense yes. Sorry for not catching the initial idea. I'll look talk a talk with @egeriis and then get back to you or just look into the PR.

[2016-10-06 09:07] Nopzen commented on #73
@Petesta I did have s quick talk to @egeriis about the suggestion, we don't see why we shouldn't do this, i will have a look into your PR this week, and then lets take it from there.

Thanks for the contribution to the tool 🎉

[2016-10-06 14:20] evolve2k commented on #65
I am using a different auth strategy that properly authenticates the user. As added security in rails a session cookie is also created and is expected to be returned by forms submitting to rails, this cookie also lets me know the current_user object which simplifies things greatly on my end.

This will very much help me deploy without issue and without having to migrate to v2.0 before getting some

[2016-10-06 14:45] egeriis commented on #65
Ah, it's a CSFR check?

@jbadger Which fork are you relying on? I reckon we haven't received a PR for this.

[2016-10-06 17:53] Petesta commented on #73
@Nopzen No problem 😄.

[2016-10-07 08:00] evolve2k commented on #65
Yep for CSRF.

[2016-10-07 08:03] evolve2k commented on #65
@egeriis I've just added a pull request for this. As I've mentioned my JS skills are limited so if you're willing to enhance this yourself if you see any issues with it, that'd be greatly appreciated.

[2016-10-07 08:05] Nopzen commented on #73
@Petesta - Its been merged and shiped with version `1.5.3`

I hope that will help you, closing.

[2016-10-07 08:05] #73 closed

[2016-10-07 13:31] #65 closed

[2016-10-08 08:34] evolve2k commented on #53
@jbadger this credentials issues has just been fixed and is live now in newly released v1.5.4

[2016-10-09 14:34] evolve2k commented on #62
I've made progress with this, I must be loosing my marbles but finally worked out that the library on the other side (jsonapi-resources) does let me specify the path case type. Eg I can now support camelCase via the API endpoint.

Here's the next thing. Now it's all wired up. The Read and Add methods are working correctly but the update and delete are having strange issues. Let me explain.

When I

[2016-10-09 15:24] evolve2k commented on #62
I've just changed the setting `config.always_include_to_one_linkage_data = true` on the ruby gem jsonapi-resources from true to false, and when testing update this has fixed the issue. Which is telling me that yes indeed redux-json-api currently does not want the relationship data included for updates. I'm currently working with other library to get fine grain ability to exclude the relationships

[2016-10-10 07:24] evolve2k commented on #62
Hacked this into the server side and its removed the relations that we don't want to be included in the response to an update action. That's got the update working.
https://github.com/cerebris/jsonapi-resources/issues/871

[2016-10-11 16:45] jbadger commented on #71
To be honest, I care more about the performance than I do for the extra work necessarily to make another API call when the original promise returns.

Performing this in a single API call means less network connection setup and tear down and potentially fewer renders being done on page.  My backend is optimized to be able to return associated objects along with the primary object very quick and eff

[2016-10-13 14:24] evolve2k commented on #62
Ok another big session pairing on this and I think there is a real issue somewhere with how the library is currently handling relationships.

For explanation lets call the main item the 'entity' and the related entity the 'parent'.

In simple terms it seems that if the server response includes relationships in the response that redux-json-api is:

1) Updating the entity as desired
2) Updating the

[2016-10-13 14:29] evolve2k opened #77 "Consider setup of a gitter to help move some of the tricker project issues along with more direct communication?"
Would you peeps consider setting up a gitter for the project or are you ever anywhere on IRC this might be easier to resolve over IRC chat, I've made good progress doing so on the other side of the equation chatting on the jsonapi-resouces ruby gem using their gitter.

http://gitter.im/cerebris/jsonapi-resources

Just putting it out there as I've definitley found it slower going with a day by day

[2016-10-13 14:34] evolve2k commented on #70
I had limited luck getting this going, but it's not something Im needing urgently for now. So will close this issue to get it off the plate. I can always reopen at a later date if I come back to wanting to do this.

Thanks for your help and suggestions.

[2016-10-13 14:34] #70 closed

[2016-10-13 16:43] gazpachu opened #78 "Mix api reducer with another custom reducer"
Hi,

So far I had no issues with mapping to props the types received from my API reducer, but now I find myself in the need of combining the map to props from the API and from another reducer `mainReducer` I'm using in the app.

How can I combine the two reducers when mapping to props? This is how I'm trying to do it:

[code]

This approach is giving me an error that I wasn't getting when I only h

[2016-10-16 07:57] evolve2k commented on #77
I'm guessing this is too much for you folks at this stage. Just an idea.
Closing issue.

[2016-10-16 07:57] #77 closed

[2016-10-16 08:05] evolve2k commented on #3
I would like to suggest that as a next step that we add support for the user to be able to specify the style of key they prefer and once that functionality is available, at that time then set a default to use caterpillar case or dasherized as I've now seen it referred elsewhere.

For some direction on naming conventions, the config of jsonapi-resources has some nice clear naming conventions. I lik

[2016-10-17 12:31] egeriis commented on #3
Good idea @evolve2k. If you find the time, feel free to create a PR for v2.0 branch, which includes this feature :)

[2016-10-17 12:33] egeriis commented on #77
We don't have that much manpower behind this project currently. But if it would create a community around the project, I think it's a great idea. If that wouldn't happen, I guess we would create false expectations with regards to response time or availability.

Your thoughts?

[2016-10-17 12:34] egeriis commented on #78
Your `mapStateToProps` function has invalid syntax, as the following is not a valid return statement.

[code]

[2016-10-17 12:36] egeriis commented on #70
@evolve2k I'm not sure we can do much to mitigate this? Your app build script is correctly suggesting that the source file is pre-built.

Not sure about your set-up, but maybe you could just reference the file which is not build?

[2016-10-17 12:40] egeriis commented on #62
@evolve2k Thank you so much for digging into this!

We would love to see some example response body, which will trigger these errors. As I understand, you're experiencing two issues:

1. Duplicate reverse relationships created upon resource patching
1. Deleting a resource does not remove it's reference from relationships

I would like to see the response body for the PATCH request and for you to c

[2016-10-17 12:41] #78 closed

[2016-10-17 12:43] gazpachu commented on #78
Hi @egeriis, could you please let me know how to do it? It can be also useful for documentation purposes (i.e. how to combine API and custom reducers). Many thanks!

[2016-10-17 12:47] egeriis commented on #78
I reckon this should work:

[code]

[2016-10-17 14:12] gazpachu commented on #78
Hmm, that doesn't seem to work:

```Uncaught TypeError: this.props.dispatch is not a function```

I think because the custom reducer stuff doesn't implement the dispatch function?

[2016-10-17 15:27] gazpachu commented on #78
Fixed it! No need to use bindActionCreators anymore:

[code]

[2016-10-18 10:51] gazpachu opened #79 "readEndpoint in a container with mapDispatchToProps"
Hi,

I have a container, `app.jsx`, which already has `mapStateToProps` and `mapDispatchToProps` for a custom reducer I built called `mainReducer`. If I use the method explain in the docs to read an API endpoint, (`this.props.dispatch(readEndpoint(...))`), then I would get this error: `Uncaught TypeError: this.props.dispatch is not a function`. I guess because I'm using `mapDispatchToProps` for my

[2016-10-18 18:12] #79 closed

[2016-10-18 18:57] egeriis commented on #78
I am not sure. It's definitely not something in our lib :)

[2016-10-18 19:00] egeriis commented on #79
Isn't the idea with `mapDispatchToProps` that you don't need to call `dispatch`, but the actions are available directly as props? I.e. `this.props.actions()` instead of `this.props.dispatch(actions)`

[2016-10-19 10:01] evolve2k commented on #62
Yes that is correct, we are having issues on UPDATE and DELETE.

I've had to remove random hacks to get this into a clean state to share with you and sadly for debugging the DELETE is not failing right now as expected (darn computers, why work with them!). Lets work on the UPDATE and I'm sure the DELETE will fall over for me later and I can include the responses when I work that out, just know Im

[2016-10-19 11:36] florisvink opened #80 "Reducer doesn't work when root-state is Immutable"
Internally the module uses ImmutalbleJS for setting the api-states, but the api-reducer cannot be combined with existing reducers when the initialState of the store is Immutable:

For example:

[code]

This code results in:
`TypeError: Cannot read property 'endpoint' of undefined: getState().api.endpoint;`

The code looks like:
[code]

I think (in case the root-state is Immutable) this should be s

[2016-10-20 21:32] egeriis commented on #80
Closing this, as there's a PR where discussion has begun: #81

[2016-10-20 21:32] #80 closed

[2016-10-20 21:35] egeriis commented on #62
@evolve2k Concerning the DELETE request, we do have a test which passes for the case you're experiencing. Maybe it's an edge case, which is hard to reproduce. I hate those, and I can hear you do too 😞

Do you mind sharing the entire _api_ namespace of state, before the PATCH request? Then I can quickly run a test. I'll be on top of this.

[2016-10-21 01:06] evolve2k commented on #62
@egeriis thanks for your help!

Ok I obtained it this way, I made the error causing change (doing an UPDATE) and then went to the Chrome Redux toolbar > state > api and then clicked export below and downloaded the file 'state.json'.

This is exactly what its returning unmodified, hope that's what you need, let me know if you need anything else.

https://gist.github.com/evolve2k/a987fdb8152e7cb1cb4

[2016-10-21 11:31] egeriis commented on #62
@evolve2k Wow, that's very extensive. Looks like it contains all actions and changes, that will not be too easy for me to use.

Do you have React dev tools? If so, could you go to the React dev tools, select `<Root>` and paste this into the console?

`JSON.stringify($r.props.store.getState().api)`

This should create a JSON output of what I'm looking for.

[2016-10-21 13:09] evolve2k commented on #62
@egeriis Hmm yes it is rather long, ok I've done it the way you asked, see here, it looked easier to navigate in the console output actually, so I've added a screenshot of the console also.

Thanks again!

https://gist.github.com/evolve2k/e0f3725c32fc3508058503ea75776f6e

[2016-10-21 13:12] evolve2k commented on #62
Oh crap just realised I just added all that from a clean state, eg before attempting the action that causes the double up. Just a minute, I'll repost with the correct state.

[2016-10-21 13:17] evolve2k commented on #62
![myapp](https://cloud.githubusercontent.com/assets/114459/19599498/8e6d5b18-97e8-11e6-81bf-f1bb855688f4.jpg)
![myapp](https://cloud.githubusercontent.com/assets/114459/19599515/9d3dc592-97e8-11e6-8671-a55ac6004840.jpg)

[2016-10-21 13:18] evolve2k commented on #62
Revised, using the store _after the UPDATE action is taken_.

https://gist.github.com/evolve2k/0dafc4469f6b7c1e2e3b6618656e37a3

[2016-10-24 10:06] egeriis commented on #62
@evolve2k Which one is _before_ the PATCH request? You wrote:

But I need the state before.

Context: I am going to take "before state", paste it into a unit test, run the PATCH against it to enable testing and narrowing down the error.

[2016-10-24 10:17] evolve2k commented on #62
@egeriis I just relabelled them, it's the first of the two.
Thx :)

[2016-10-24 12:36] egeriis commented on #62
@evolve2k I left a comment on your gist: https://gist.github.com/evolve2k/e0f3725c32fc3508058503ea75776f6e

[2016-10-25 11:02] egeriis opened #83 "Change API names to be spec-compatible"
Currently we use the term "entity" which is not in line with JSON API documentation, which uses the term "resource". This should be updated so there are no confusion around the taxonomy.

[2016-10-25 12:20] evolve2k commented on #62
@egeriis no idea why those spaces were there, here is a version without those extra spaces.
(It's in the clean state requested before any UPDATE is attempted).

Also I stripped back the clients record to have much less data before generating the JSON so now the file is much shorter. Should be much easier to read now.

https://gist.github.com/evolve2k/fdc2e4dd4cb3239ad1f82f96ab439dcd

[2016-10-25 20:31] kazazor commented on #48
Quick question. We would like to start using this package for our development. Thank you for that :)

My question, why do you use the Promise like syntax for your dispatch? It feels a little bit not redux way.. I would expect it to work more like the [redux-api-middleware](https://github.com/agraboso/redux-api-middleware) and dispatch FAILURE / SUCCESS instead of me having to control it using `the

[2016-10-25 20:58] egeriis commented on #48
Hi @kazazor

Happy to hear that you're considering to use this library.

I'm not sure if the techniques from redux-api-middleware can be applied to redux-json-api. But we're still learning Redux, so we're very open to suggestions 🙂

I'll have a more thorough look at redux-api-middleware tomorrow.

[2016-10-25 21:02] kazazor commented on #48
Thank you :)
In general, the idea is that everything goes through the `dispatch`.. Even the failures and successes. So there is no need for any use of `then` / `catch`. Instead, if for example if dispatching the action GET_ALL_ITEMS, then the middleware will dispatch **REQUEST**_GET_ALL_ITEMS, **SUCCESS**_GET_ALL_ITEMS & **FAILURE**_GET_ALL_ITEMS when needed.

Currently what we're looking on doing

[2016-10-28 18:00] egeriis commented on #48
Hmm. We're already dispatching events in case of success/failure. For `readEndpoint` is is `API_READ` (success) and `API_READ_FAILED` (fail/error).

How would you tap into this? A custom extension of the API namespace?

[2016-10-28 22:26] egeriis opened #85 "Deprecate old methods"
As per suggestion in #84, to prepare users of v1.x for upgrade to v2.0, old API method names will now be deprecated and note that they will be removed in v2.0.

[2016-10-28 22:37] egeriis commented on #71
@jbadger I was sure I had replied to this.

I have given this some thoughts too, and I think it should be possible to provide a configuration to each API method. The current options object is deprecated (the one with `onSuccess`+`onError`), so I think this would be a good spot for an object with request settings to extends the defaults.

If you're up for doing a PR, we'd appreciate it. My vision i

[2016-11-01 12:15] OmriAharon commented on #48
Hey @egeriis, at the moment what we do is create middleware ourselves that translate said actions to new actions that are more descriptive using the requested endpoint string. A sort of a middleware parser, if you will.

 I'd like to suggest a way to tackle this in a way that would be easier to control and maintain.
At the moment, like you said, we get actions like `API_READ` dispatched upon compl

[2016-11-02 12:34] moxvallix commented on #62
@egeriis hey mate, im sure you're pretty busy but was hoping to poke this one along.
If from what I've provided its still hard to work out what's going on, I was thinking maybe we could pair on it. Happy to show my code if you're willing to have a poke around, thinking that might just be the quickest way if the smaller request I provided above is still not quite giving you any clarity.

[2016-11-02 12:38] evolve2k commented on #62
[Edit: laptops having issues, jumped on my friends computer, just realised
I posted this as them accidently as they were logged into GH, deleting and
reposting as me! This is @evolve2k]

@egeriis hey mate, im sure you're pretty busy but was hoping to poke this
one along.
If from what I've provided its still hard to work out what's going on, I
was thinking maybe we could pair on it. Happy to show m

[2016-11-03 15:56] gazpachu opened #87 "Modify data received from API"
I have a filters array that I receive from the API using the read method. With the UI, I can modify those filters and I would like to update the redux store. Is it possible to access the API reducer to add a custom method? what would be the best practice? Thanks

[2016-11-04 23:56] egeriis commented on #48
@OmriAharon I see your point. But there's actually an alternative approach, as far as I see it, which doesn't clutter the API of _redux-json-api_:

[code]

Wouldn't that work as flexible?

[2016-11-04 23:57] egeriis commented on #62
@evolve2k You're right, I am. As the CTO I am very on/off :) But I also just had a brief vacation in Hamburg. I'll get back during the weekend or Monday at latest. Hope that works for you.

[2016-11-04 23:59] egeriis commented on #87
I am not sure, if what you're asking is the ability to modify the `api` namespace in the Redux state? That would be bad practice, since that would counter the idea behind this library to provide a structured store of all your resources.

[2016-11-05 13:50] OmriAharon commented on #48
That would be flexible, yes.

However, returning a promise doesn't preclude the object suggested above.
I can see both approaches living side by side.
That way, the developers can choose for themselves.

What do you think?

[2016-11-05 19:06] gazpachu commented on #87
@egeriis I meant if I could modify the `filters` data that I got from the API using a custom reducer.

[2016-11-06 12:42] egeriis commented on #48
I don't believe that the best solution is multiple solutions. I would also go far to keep a simple API, as long as it doesn't prevent obvious use cases and implementations.

This library should be flexible enough to fit 80% of use cases, but simple enough that it doesn't weigh too much in the application.

[2016-11-06 12:45] egeriis commented on #87
Still not sure what you mean. What is "filters data" is it a collection of resources? And what do you need to modify?

[2016-11-06 12:51] kazazor commented on #48
@egeriis - I agree that multiple solutions could be tricky.
However, if we'll have to choose 1 way I would choose @OmriAharon way.

* Adding it is very very simple (you're already doing a dispatch of an action, so just let me tell you which to dispatch).
* You're already doing a dispatch along with the Promise.. So that kind of contradicts with your suggestions..
* Promise like is not really a red

[2016-11-06 15:41] egeriis commented on #48
My point is that the API should be as simple as possible. The suggestion @OmriAharon proposed would add to the API, thus making it more complex.

I don't know why you're considering whether it's a Redux best practice, because Redux is a data store and doesn't care about anything but state-altering actions. Asynchronous action dispatching is a redux-thunk feature, and they even provide an example o

[2016-11-06 15:48] OmriAharon commented on #48
The only thing I find weird is that an action will be dispatched (API_READ, etc..) regardless of the promise implementation, and that there is absolutely no way to modify the action name.

I've created a middleware to bypass that, I'm sure most others would do the same. It's reasonable to assume that the developer would have to create a new action to dispatch in the `then` resolution to store the

[2016-11-06 15:58] egeriis commented on #48
`API_WILL_READ` and `API_READ` are there for a purpose. So are the equivalent for the rest of the CRUD methods. Their purpose is outlined in the documentation and I don't understand why anybody would disable them.

Adding what you're suggesting would dispatch _another_ action. I can't explain my stance better than the last paragraph of my previous comment.

I haven't been provided with any argumen

[2016-11-06 16:17] kazazor commented on #48
The arguments are very simple:

1. Why do you force in your API to **always** use the `then` & `catch` & `dispatch`? We can always use that approach that you're suggesting, but why do I need to duplicate this code over and over again? Supplying your code with the action to dispatch will reduce the developer's code because you'll be saving the trouble for others to write that over and over again.

[2016-11-06 16:28] egeriis commented on #48
1. That is not an argument, that is a question. Which I believe I have addressed extensively. Give me an example where you will have duplicate code, and how that would potentially look with your suggested addition? Because I haven't understood correctly, if your suggestion isn't as much duplication as status quo.
2. That's a completely different discussion, with a very valid question: does the fun

[2016-11-06 17:04] kazazor commented on #48
Regarding number 2, this is the same discussion.
Have you looked at the [redux-api-middleware](https://www.npmjs.com/package/redux-api-middleware)? They're using the **exact same approach we're suggesting**.

If you'll provide the action to dispatch you will solve number 2 and will make the actions actually meaningful.
By doing that you'll also save some code duplication like this:

Your approach:

[2016-11-06 17:09] egeriis commented on #48
Have you looked at the redux-api-middleware? They're using the exact same approach we're suggesting.

It's a bit frustrating that it seems like you're not reading my replies thoroughly. As I've written, `API_WILL_READ` and `API_READ` provides functionality. They're not just dummy actions dispatched for fun and giggles.

[2016-11-06 17:13] kazazor commented on #48
@egeriis - I can assure you I feel even worse than you.
I came into your repo trying to help and suggest more options an opinions - this is not even my code.

I even wrote you a LOT of code examples showing you the different options, and it doesn't seem like you even give a damn.

I can tell you that as an open source project that is the worse feeling you as an owner can give.
After that big code

[2016-11-06 17:15] egeriis commented on #48
I am writing a reply regarding the code. I decided to split it up into two comments. I am attempting to be respectful, but I feel like we're missing each other. Getting some code to talk about was my attempt to become more concrete in the discussion. Hopefully we can achieve that. Give me a few minutes to reply.

[2016-11-06 17:17] egeriis commented on #48
Regarding the code:

I'm not sure how _redux-json-api_ would dispatch an application specific action based on a string passed to e.g. `readEndpoint`. Example:

[code]

What do you expect _redux-json-api_ to do with "TASKS_READ"?

[2016-11-06 17:28] kazazor commented on #48
I'm sorry, but this whole discussion is not respectful.
I'm reading ALL of your replies and writing BIG code example to YOUR repo in my private time.
If you see that you didn't understand me I would even do Skype chat with you to help, but assuming that I'm not reading your comments just because you didn't fully understand me is highly disrespectful.

<hr>

My expectations are as followed:

1. red

[2016-11-06 17:41] egeriis commented on #48
Sorry that you feel that way. I might be coming out a bit frustrated. Allow me to apologize and make up for that.

--

Since an action is not simply a string, how would "TASKS_READ" be dispatched? I can't see how _redux-json-api_ would find the action based on a string. Could you elaborate?

[2016-11-06 17:45] egeriis commented on #48
Wait, I think I understand what you're looking for with that string. Is it correctly understood that _redux-json-api_ would then dispatch the following action:

[code]

Where `responseData` is the JSON API response from the API?

[2016-11-06 17:48] kazazor commented on #48
Yes that is correct 🎉
You'll get all of the pros I wrote [in this comment](https://github.com/dixieio/redux-json-api/issues/48#issuecomment-258694434) just by doing that.

* Less code
* More control to the developers
* Less noise of dispatched actions with no meaning

[2016-11-06 18:20] egeriis commented on #48
This is probably true, as you can see in my elaboration below.

Can you elaborate on this?

This is actually false. `API_WILL_READ` and `API_READ` will still be dispatched as outlined earlier. So it will add another action to the stack.

--

So I decided to outline full examples for acting on the response body using the current solution and with the configuration method you're proposing.

# Promis

[2016-11-06 18:22] egeriis commented on #48
Let me just add the point that it's not the purpose that you should do this for every API call. _redux-json-api_ is supposed to have you covered for 80% of your API calls, without having to do anything but e.g. `dispatch(readEndpoint("users"))`.

[2016-11-06 18:51] kazazor commented on #48
Yes this is correct, in my examples just think of it as `tasks` / `lists` / `members` etc.. Didn't mean to show `tasks` & `createTask` endpoints.. Let's assume we have different entities here..
<hr>
So we have:
1. Less code - ✔️

This is actually false. API_WILL_READ and API_READ will still be dispatched as outlined earlier. So it will add another action to the stack.

I meant to have the actions

[2016-11-06 19:04] egeriis commented on #48
I have a few comments:

Then you're removing functionality from the library. Removing `API_READ` will actually remove the whole idea behind this lib. This is what makes me frustrated in this discussion, because it appears you haven't read the documentation since it seems that you don't know what `API_WILL_READ` and `API_READ` does.

Actions aren't supposed to tell you stuff, they're supposed to ch

[2016-11-06 19:19] kazazor commented on #48
Actions are suppose to **also** give you information on what's going on in your system.
That is why projects like [redux logger](https://github.com/evgenyrodionov/redux-logger) are so popular in dev env.. You can say that you don't use that in your development (which is a shame IMO) but this whole pattern of actions was also designed for better development and code maintenance.

The `API_READ` & `

[2016-11-06 20:03] egeriis commented on #48
@kazazor Look, I really appreciate that you're coming to us to propose a change in our library. But we cannot have a discussion where I have to repeat myself. I know that you feel the same, but we actually have a pretty good dialogue before you bailed on the discussion.

You keep iterating that we can just remove `API_WILL_READ` and `API_READ`, but that is just not possible. Well, we can remove `A

[2016-11-06 20:11] kazazor commented on #48
I'm sorry @egeriis, but I don't see a partner here to continue the discussions and you currently feel the same.

I don't believe it is worth your or my time nor it will make any difference in this situation.
No hard feelings, the package works - it can stay like that :)

[2016-11-06 21:29] egeriis commented on #48
I surely don't feel that way, @kazazor. But I respect that you do not wish to carry on. Thank you for using our library and please don't hesitate to get back if you wish to continue this discussion or have any other feedback.

[2016-11-07 11:17] gazpachu commented on #87
@egeriis, sorry I didn't explain myself well. Let's try with the following flow of actions:

1. The app reads from the API a set of data. In this case, an array of objects
2. The data is added to redux
3. The UI in the app changes and I need to reflect that change into the same array of objects I received from the API
4. Can I modify it in any way? i.e. by creating a custom reducer? or is this not

[2016-11-07 12:09] pannz commented on #87
after overview, In my understanding,  redux-json-api make request and then automatically return the response in `State`,  by something like state.set(`${type}`, data),  and then we can get data from `mapStateToProps`.   right?

And there is an case that many times the response data may not suitable for directly use, so we often modify the response using interceptor then return the preferred data c

[2016-11-07 17:13] egeriis commented on #87
@gazpachu _redux-json-api_ puts all your resources into `state.api` automatically. Through `mapStateToProps` you can read these resources into the component which should consume on it. Still not sure what you mean with modifying the data. But let me give an example.

Somewhere you're loading _users_ using `readEndpoint('users')`. The API responds with a resource collection of type "users", these w

[2016-11-07 21:49] gazpachu commented on #87
@egeriis let's use your example and hopefully I can make my point across.

The API responds with a resource collection of type "users", these will be put into state.api.users. OK! Now, imagine that I want to change some things in that collection of users and then send it back to the API. How can I do that? Which reducer should I use?

PS. I think I was failing to communicate what I wanted because

[2016-11-07 23:50] Nopzen commented on #87
@gazpachu - Do i understand you correctly you want to change the data recived from the API before it hits the `redux state`? Incase that would not be very nice and good practise to modify server data.

After the data have hit the state you can then modify it as you like in the view.

While mapping the data to the view through `mapStateToProps` you are then able to filter, sort, slice and what have

[2016-11-08 13:02] egeriis commented on #87
@gazpachu Sending changes back to the API, do you mean making a PATCH request to the API? In such case, @Nopzen is spot on in his mention of `updateEntity`.

[2016-11-10 15:02] gazpachu commented on #87
@egeriis Thanks for all the explanation. This is just all I needed to hear:

[2016-11-10 15:26] gazpachu opened #90 "Bug in v1.6"
Using the latest version, only 5 records are read from a dataset of 28. Not sure what's the issue but when i revert to v1.5.1, it works fine.

[2016-11-10 21:41] Nopzen commented on #87
correct @gazpachu  - But you dont need to run `updateEntity` if its just the view that needs to either filter or sort the data, you do that through the `mapStateToProps` :)

[2016-11-10 21:51] Nopzen commented on #90
Hi @gazpachu

Would you be able to show me a network response, and the `readEndpoint` that is being dispatched, we are currently using this our self and gets the full datasets when retriving data.

[2016-11-11 10:30] egeriis commented on #90
Damn. That's a pitty :( Let's gather some info and write a test to ensure this doesn't happen again.

[2016-11-11 10:36] egeriis commented on #87
If you want to persist the changes your making to your dataset, you would need to use `updateEntity`, yes. `updateEntity` will keep your state _and_ API up-to-date.

If you do not want to persist the changed, but simply want to morph some values, you can do that in many different ways. E.g. through (reselect)[https://github.com/reactjs/reselect]:

[code]

Just a dummy example :)

[2016-11-11 10:45] egeriis opened #92 "Store invalidating flags outside resource object"
Currently we are setting the `isInvalidating` directly on a resource. This means that if a resource is updated through `updateEntity` is will change two times:

1. When `updateEntity` is dispatched (`isInvalidating` will be set to "UPDATING")
1. When the PATCH request succeeds/fails (`isInvalidating` is removed, resource may change)

This may cause an unnecessary re-render, as the resource object

[2016-11-11 15:31] egeriis commented on #90
FYI, we're awaiting some info from you, @gazpachu. Just so you know 👍

[2016-11-11 17:29] gazpachu commented on #90
ReadEndpoint code:

[code]

<img width="731" alt="network" src="https://cloud.githubusercontent.com/assets/1721288/20224029/af62f63e-a83c-11e6-9a49-b6dcd905d0df.png">

<img width="449" alt="react tools" src="https://cloud.githubusercontent.com/assets/1721288/20224031/b30c6c20-a83c-11e6-91b5-4bc3cbee796b.png">

[2016-11-11 20:58] egeriis commented on #90
Could you paste the full json response from topics as well as the full api state before readEndpoint for topics has completed?

[2016-11-11 21:05] egeriis commented on #90
Did you btw post the correct mapStateToProps, because it doesn't contain topics?

[2016-11-14 08:59] gazpachu commented on #90
Ahh, nevermind that mapStateToProps. The topics are not being used in that component anyway. I will delete it from the message.

[2016-11-14 09:04] gazpachu commented on #90
{
   "data":[
      {
         "type":"topics",
         "id":"1",
         "attributes":{
            "name":"Pipeline",
            "level":0,
            "order":2,
            "status":"active"
         },
         "links":{
            "self":"/topics/1"
         },
         "relationships":{
            "parent":{
               "data":null
            },
            "topics":{

[2016-11-14 09:07] gazpachu commented on #90
How can I capture the full api state before readEndpoint for topics has completed?

[2016-11-14 09:35] evolve2k commented on #62
Hey @egeriis yes I'd love to pair it out if that's possible. Hope you had a great holiday.
I'll send you a message on twitter and if you're happy to follow me back maybe we can DM and make a time. (Suggesting to do it that way to increase privacy & cut down noise in the channel here)

[2016-11-14 10:25] egeriis commented on #90
Using React DevTools. Go to the React dev tools, select <Root> and paste this into the console:

`JSON.stringify($r.props.store.getState().api)`

[2016-11-14 15:23] gazpachu commented on #90
`{
   "isCreating":0,
   "isReading":0,
   "isUpdating":0,
   "isDeleting":0,
   "endpoint":{
      "host":"https://vf-lighthouse-staging.herokuapp.com/lighthouse/",
      "path":"api",
      "headers":{
         "Content-Type":"application/vnd.api+json",
         "Accept":"application/vnd.api+json",
         "Authorization":"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ2Zi1saWdodGhvdXNl

[2016-11-14 15:34] gazpachu commented on #90
[code]

[2016-11-15 01:41] jbadger commented on #90
My state is also no longer updating with resources that are included after updating to 1.6.1.  Downgrading to 1.5.4 works fine.

[2016-11-15 08:36] gazpachu commented on #90
I've also noticed that in 1.5.4, the order of the results returned from the API is reversed, but that seems to be fixed again in 1.6.0

[2016-11-15 12:51] evolve2k commented on #62
Following our discussion today.
State and patch json.
https://gist.github.com/evolve2k/a4e8e60283d698685821fa8ea0fcbf73

[2016-11-16 14:27] gazpachu opened #94 "Helper component to handle CRUD API operations"
How can I make a `Helpers` component to handle CRUD API methods and other utilities? I could use a regular component but I don’t need the `render` method

 I need to access `this.props.dispatch` so using `module.exports` doesn’t work well for that, because when I pass `this.props.dispatch` as an argument to readAPI, I get `dispatch is not a function(…)`:

Helpers.jsx:

[code]

This is how I would

[2016-11-16 16:00] gazpachu commented on #94
roman from Red Badger Team in React London, was nice to give me this example. I'm just pasting it for your reference:

[code]

[2016-11-17 12:21] gazpachu commented on #45
@JaylonQi do you mind posting the change you did to make it work? Thanks!

[2016-11-17 15:03] asrytis commented on #18
This would be a lovely feature. I am consuming data from 2 different hosts and having to dispatch `setEndpointHost(...)` and `setEndpointPath(...)` before every API request feels wrong and is very inconvenient too. In my opinion these two actions shouldn't be needed at all unless there are scenarios that I'm unaware of.

Compare existing
[code]
vs new
[code]
Related: [Dan Abramov on setter actions

[2016-11-18 11:00] egeriis commented on #94
I am not sure in which context you would need to do this. Could you elaborate on the purpose of doing it this way and how we could support this in _redux-json-api_?

[2016-11-18 11:11] egeriis commented on #90
I'm working on this issue here: #95

Managed to create a failing test. Let's see what happens :)

[2016-11-18 11:14] gazpachu commented on #94
Abstracting all the API related methods to a Helper module/component would free other components from the repetition of having to call setEndpointHost, setEndpointPath, setAccessToken, setHeader... That's a lot of config required for each API request, thus it's better to write it ONCE in one place rather than everytime we need to make an API request.

Maybe I'm missing something, but considering t

[2016-11-18 13:04] egeriis commented on #90
@gazpachu Found the issue. Could you please review #95 and verify that the issue is fixed?

[2016-11-18 13:08] gazpachu commented on #90
@egeriis how can I get the changes and apply them? Sorry, I've never done it before. A short explanation will do, I just need to know the approach. Thanks!

[2016-11-18 13:42] egeriis commented on #90
You can clone this repo, check out the 90-something branch (see branch name in PR), run `npm i && npm i babel-preset-react-hmre && npm run build && npm link`.  Then go to your project folder and run `npm link redux-json-api` :)

Now you're using the local version of `redux-json-api` in your project.

[2016-11-18 14:05] gazpachu commented on #90
[code]

[2016-11-18 14:09] gazpachu commented on #90
I've tried with Node v4.5 and Node v6.5 but I get errors when running the build:

[code]

[2016-11-18 18:56] egeriis commented on #90
Did you run the full command? Looks like `npm i` wasn't ran.

[2016-11-18 18:58] egeriis commented on #18
@asrytis That's definitely a reasonable use case. How about pre-configuring hosts and being able to curry `readEndpoint` or be able to provide a configuration ID of some sorts, when dispatching `readEndpoint`?

[2016-11-18 19:40] gazpachu commented on #90
Yes, I run npm i before. As I mentioned, I've tried to install the dependencies with 3 different node versions.

[2016-11-19 11:17] egeriis commented on #90
@gazpachu Did you get any warnings about peerDependencies that are not installed? Because you're console tells just what's missing: `sh: babel: command not found`

[2016-11-19 11:19] egeriis commented on #90
I think I know what the issue is. We're expecting that "./node_modules/.bin" is in your PATH. This command should add it temporarily, in case you don't want it included permanently `export PATH=./node_modules/.bin:$PATH`

[2016-11-19 11:20] egeriis commented on #90
We should add a note about that in CONTRIBUTING :)

[2016-11-21 08:53] asrytis commented on #18
@egeriis The way I see it is that the CRUD functions should accept the full URL and not store the hosts and paths in redux store. IMHO currying would bring unnecessary complexity.

[2016-11-21 09:05] gazpachu commented on #90
Manually installing `babel-cli` did the trick

[2016-11-21 09:18] gazpachu commented on #90
@egeriis your patch fixed the issue :)

[2016-11-21 11:59] egeriis commented on #94
You don't need to dispatch the configuring actions for each API request. The configuration is stored in state and will be used automatically for all requests.

[2016-11-21 12:16] #90 closed

[2016-11-21 12:17] #62 closed

[2016-11-21 13:05] #87 closed

[2016-11-21 13:05] egeriis commented on #87
Closed due to inactivity

[2016-11-21 13:05] #55 closed

[2016-11-21 13:07] #27 closed

[2016-11-21 13:12] egeriis commented on #18
Personally I think that's an annoying convention, from an application developer perspective. Because it doesn't support me in building an application that is easily adaptable to changes. I.e. if I were to change the hostname of my API, I would have to search through all files that fetches data from it to update the hostname. In the way _redux-json-api_ currently handles this, I just have to change

[2016-11-22 13:28] gazpachu opened #96 "Bug in v1.6.1: redux adding up new values into resource on each readEndpoint call"
This is the sequence to replicate the issue:

Load endpointA with queryString Q = 1:
- Resource R receives 2 items of type T)
- Redux displays 2 items in resource R

Load endpointA with queryString Q = 2:
- Resource R receives 1 item of type T)
- Redux displays 3 items in resource R (it should display just one...)

Load endpointA with queryString Q = 1:
- Resource R receives 2 items of type T)
- R

[2016-11-22 13:32] egeriis commented on #96
This is by design.

There's a discussion here in this thread, with regards to the ability to clear resource types from state upon new successful request: #24

[2016-11-22 13:32] #96 closed

[2016-11-22 13:58] gazpachu commented on #24
@egeriis Thanks for pointing me at this discussion. I don't know where I can put the code you posted in the 2nd message. I guess it has to go in a different file from my component, otherwise I get `Module build failed: SyntaxError: Only one default export allowed per module.`.

Would it be possible for you to extend the example to cover a single scenario where we need to clear one specific resourc

[2016-11-24 10:35] gazpachu commented on #94
@egeriis And in which file do you usually set the configuration to make sure it runs before any other component?

If I put it in the `componentDidMount` of my `app.jsx`, that doesn't guarantee that the configuration will be set before any other component. Sometimes the `App` component is loaded after a few other components, we cannot change that.

On the other hand, I cannot put it before my `reac

[2016-11-24 12:20] egeriis commented on #94
@gazpachu In your case, dispatching those actions in `componentWillMount` of `App` should be sufficient.

[2016-11-24 12:26] egeriis commented on #24
The reducer example I posted should be put in a `api` module. I don't know your file structure, so I cannot tell you where to place that file. Then you can import this module instead of the reducer from _redux-json-api_, as that's the one we're extending here.

1. Create a new reducer with above snippet
1. Import this, instead of `reducer` from _redux-json-api_ where you're combining your reducers

[2016-11-25 15:17] gazpachu commented on #24
thanks @egeriis, I'm not sure I'm doing it correctly :-S

I get error `Uncaught TypeError: (0 , _reduceReducers.handleAction) is not a function` and if I don't import `handleAction`, I get `Uncaught ReferenceError: handleAction is not defined`. What am I doing wrong?

[code]

[2016-11-26 07:58] evolve2k commented on #62
Just confirming that #93 has indeed fixed my problem.
Thanks again for all your help @egeriis.

[2016-11-28 09:47] egeriis commented on #24
You don't need to use the same convention as _redux-actions_ (which exposed `handleAction`). Simply pass your reducer to `reduceReducers`:

[code]

Something like that should do.

[2016-11-28 10:01] gazpachu commented on #24
`state` is not defined. Where shall I put it?

So, with this example, I would only have to call my action to trigger RESET_RESOURCE and that should clear the resources that my readEndpoint will get?

[code]

[2016-11-28 10:36] egeriis commented on #24
Oh, sorry @gazpachu. The destructuring in the function is from state. You should be able to replace that.

[2016-11-28 10:51] gazpachu commented on #24
Hi @egeriis. Sorry for asking so many questions. I'm not very good at this :( My apologies but, I still don't know what you mean or how to fix this issue.

[2016-11-28 10:55] egeriis commented on #24
About destructuring https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Operators/Destructuring_assignment

Read up on that, and see if that helps you understand :)

[2016-11-28 11:40] gazpachu commented on #24
Thanks for the destructuring article. I've figured out that it should be:

[code]

Now it seems it cannot find `isCreating` and the other flags, so I've tried to import them:

`import { reducer, isCreating, isReading, isUpdating, isDeleting, endpoint } from 'redux-json-api';`

but that doesn't seem to work. It seems they are not being exported in `https://github.com/dixieio/redux-json-api/blob/mas

[2016-11-28 11:45] gazpachu commented on #24
Unless, it's this other way:

[code]

In which case, I get:

`jsonapi.js Uncaught TypeError: Cannot read property 'host' of undefined`, which I guess it comes from endpoint being undefined

[2016-11-28 11:59] egeriis commented on #24
They're not flags, they're properties on `state`.

The reducer should clear entities from state when the RESET_RESOURCE action is dispatched, i.e `action.type === RESET_RESOURCE`.

But it shouldn't clear the key properties from state, which is `isCreating`, `isReading`, `isUpdating`, `isDeleting` and `endpoint`.

Thus we need a reducer that checks on the dispatched action type and returns the valu

[2016-11-28 12:10] gazpachu commented on #24
ok, this works. But this approach resets the whole app state. Not just the state of the specific resource that I'm reading again.

[2016-11-28 12:18] gazpachu commented on #24
This works, thanks a lot! I'll figure out how to do it to reset just the resource I want to read again.

You are a star! :)

[2016-11-28 12:51] gazpachu commented on #24
What would be the best way to remove a resource of type `answers` from the state?

I've tried two methods that remove the data from the resource, but on the next readEndpoint call still adds up the new data and the old data :/

Method 1:
[code]

Method 2:
[code]

[2016-11-28 13:51] egeriis commented on #24
Do you have Redux DevTools? Can you verify that they're actually removed from state?

[2016-11-28 13:54] gazpachu commented on #24
Yes, everything works fine now. I had a bug somewhere else that was calling twice the readEndpoint (long sigh... + face palm)

[2016-11-28 13:55] egeriis commented on #24
Cool :)

[2016-12-06 13:33] danielgefen opened #98 "Update entity fails if not performed other operation to the endpoint before"
I'm trying to call the function `updateEntity` and I'm getting this error:
`Uncaught TypeError: Cannot read property 'update' of undefined`
happening in this line:

![screen shot 2016-12-06 at 15 24 15](https://cloud.githubusercontent.com/assets/15183805/20926989/194781fc-bbc8-11e6-9a4a-b20e2f1b789c.png)

I found out that since I'm calling `updateEntity` on this endpoint api before calling any oth

[2016-12-06 16:06] egeriis commented on #98
@danielgefen Wow, good catch! Are you willing to do a PR?
Also I am very curious about your use case. How do you know about an entity if you haven't loaded it? 🙂

[2016-12-06 21:16] danielgefen commented on #98
Yes, I'll try to do a PR. Hopefully I will manage to resolve this issue :)

I guess my case is kinda special. Since in our backend, I have an endpoint api which returns an entity that contains an array of entities data from a different endpoint api. We chose not to return a relationship in this case since the structure and the usage is a bit more complex than this, and actually doing it like this

[2016-12-06 23:55] tomharvey opened #99 "Docs are missing a working example"
I spent some time earlier today in trying to get to know how to add this library. I noticed that there were 2 issues ( https://github.com/dixieio/redux-json-api/issues/13 and https://github.com/dixieio/redux-json-api/issues/44 ) where people have had similar problems so I've documented my work in the README of my experimentation repo https://github.com/tomharvey/redux-json-api-demo/

I appreciate

[2016-12-07 00:15] tomharvey opened #100 "links payload is not stored in state"
Pagination is handled by a `links` object at the same level as `data` and `included` but any payload in `links` is not available in state while `data` and `included` are .

I see that there is a PR https://github.com/dixieio/redux-json-api/pull/21 for what looks like a great way to handle pagination but there is a non-breaking change which would allow v1.6.x to provide access to pagination links.

[2016-12-08 21:38] valikos opened #104 "Update relationships after destroy entity"
Found issue with `makeUpdateReverseRelationship` function.
I've got undefined `newRelation` after delete entity with relations.
I checked what compiled sources I have in node_modules and I have
[code]
I compiled source from `state-mutation.js` in `babeljs.io` console. There is another result
[code]
I am using latest `react-modules` package where `babel` and related things are preinstalled.
Can't u

[2016-12-09 08:38] valikos commented on #104
I played a bit with this issue and found what works for me.
When I do a call `makeUpdateReverseRelationship(resource, resource.relationships[key], 'delete')` instead `makeUpdateReverseRelationship(resource, resource.relationships[key], null)` this is working for me and relations updates well.

[2016-12-09 08:43] valikos commented on #104
Actually there is enough remove third `null` parameter from call of `makeUpdateReverseRelationship`.
Is there a reason to call `makeUpdateReverseRelationship` in removeEntity with `null` third parameter when relations is not defined for entity?

[2016-12-09 13:54] egeriis commented on #104
So the issue is that you're getting a reverse relationship updated to `undefined` after deleting an entity? Can you maybe write a failing test for this in a PR? :)

[2016-12-09 13:57] valikos commented on #104
@egeriis ok, I will try write failing test

[2016-12-09 14:07] egeriis commented on #99
This is great, @tomharvey. We'd be happy to link to your repo in the README. While another contributor has been working on #72, it hasn't been wrapped up and I think it makes sense to have a dedicated "demo" repo.

Maybe you'll find some inspiration in that PR as well?

[2016-12-09 16:15] tomharvey commented on #99
Ah yes, I meant to link to https://github.com/dixieio/redux-json-api/pull/72 in my issue report as well.

I see that @Nopzen has been working on that but a fully functioning sandpit to play with the API is somewhat more work than a simple quickstart and I can understand that it might take him a while to complete this.

I can raise a PR with the link as a "Quickstart Guide". Any feed back on how I'

[2016-12-09 17:24] tomharvey opened #105 "Calling multiple endpoints has possibility to stomp data."
There was something bothering me about the way the primary data object in the jsonapi response was being appended to `api` as its data type and your comments on https://github.com/dixieio/redux-json-api/pull/101 helped me articulate my concern.

Assume that the developer using redux-json-api does not have access to development of the server API and they want to display a post, with comments, along

[2016-12-09 17:50] tomharvey commented on #105
Sorry - I was wrong, it doesn't, it handles it nicely.

[2016-12-09 17:50] #105 closed

[2016-12-09 19:26] valikos commented on #104
@egeriis I've create PR with broken test for my situation https://github.com/dixieio/redux-json-api/pull/107

[2016-12-11 18:10] valikos commented on #104
I am using one-to-many relation for my resources.
One resource returns multiple relationships with links and data for resources that related to parent scope. Similar to article and comments, project and tasks.
And related resources contains single relationship with data.
I think this is allowed by jsonapi convention.

[2016-12-28 22:32] #94 closed

[2016-12-29 00:21] Pierozi opened #109 "Options no-cors on Fetch"
Hi There,

Since the recent security policy have deprecated the wildcard `cross-origin` it's not possible anymore for me to request a specific API Server in DEV Mode. We should be able to specify Options of Fetch lib.

Such as `mode: no-cors` but the options are [hardcoded here](https://github.com/dixieio/redux-json-api/blob/master/src/jsonapi.js#L66)

What did you think ?

[2017-01-03 18:16] tomharvey commented on #99
Excellent point, well made. Thanks

[2017-01-03 23:05] Pierozi commented on #109
Sorry the link was on the wrong place.

[options used into utils](https://github.com/dixieio/redux-json-api/blob/master/src/utils.js#L9)
maybe good to merge here couples user space options ?

[2017-01-11 10:17] #99 closed

[2017-01-11 12:13] tomharvey opened #111 "Thoughts on posting child objects to the createEntity method"
Let's say I have a cart, which is stored as a list of line items in my state:

[code]

I have a form which collects the customer name and on the backend I have an API server ready to create orders with line_items as child objects.

This form could either make one `POST /orders` with the customer's name and retrieve a newly created order ID. Then it would make a `POST /line-items` for each item in

[2017-01-11 15:47] egeriis commented on #109
Since we're moving to Axios in v2 and the ability to pass options will come with that, we don't see spending too much time on this for v1. But if you want to add a PR for editing the options. That would be welcomed warmly.

Keep in mind the actions for specifying headers. Maybe they could be merged somehow.

[2017-01-11 16:04] Pierozi commented on #109
Thanks for your feedback. I will look if `no-cors` is enough and open PR in this case.

[2017-01-11 16:05] egeriis commented on #111
This is something that we are looking to get fixed too. We just haven't gotten to it.

Our approach currently it to create the parent first, then create the resources that "belongs-to" that parent. Because creating the parent first would respond with an ID to reference in relationships for the child resources.

While I think you're right that your first JSON snippet would be a valid request body,

[2017-01-11 16:06] egeriis commented on #109
Ok, cool :)

[2017-01-11 19:31] gavmck commented on #46
Any movement on this one?

[2017-01-12 05:00] asiniy commented on #46
@gavmck I forgot `redux` and `react` as nightmare so nothing from my side. Try to play with promises, `redux-json-api` is easy to understand and thus change

[2017-01-12 09:55] tomharvey commented on #111
Thanks! Yes, I struggled to find clarity in the JSON API spec for the kind of creation I described above myself. Is it your understanding that my second snippet for bulk creation (which I'm using) is invalid; including more than just the relationship IDs in the relationship data objects?

The many calls approach certainly seems like the most dogmatically correct approach but I'm concerned about th

[2017-01-12 10:45] Realtin opened #112 "reading Error responses"
When an API Request fails my Server sends a response with an explanation like this:
[code]

if I catch the error from the promise I'll only get `Error: Unprocessable Entry`
is there a way I can access the error response somehow?

[2017-01-16 05:16] jephjohnson opened #113 "Loading an External API fails"
Pardon my lack of knowledge here. When I try to pull in an api from an external source I receive this error.

Fetch API cannot load https://gist.githubusercontent.com/jephjohnson/7c0a55924dc77f61e061d13cc6c29f97/raw/299648e4c1d615980a43e160ccf8483954d297b2/posts.json. Response to preflight request doesn't pass access control check: A wildcard '*' cannot be used in the 'Access-Control-Allow-Origin'

[2017-01-16 10:18] Nopzen commented on #113
Hello @jephjohnson

Thanks for reaching out, I think your first issue of concern here is to establish a way where you allow your localhost server to gain access to gist.githubusercontent.com, which I'm not sure how you can grant access to that, this is the first issue.

Another thing i would try when you gain access is to `dispatch` the `readEndpoint`with no endpoint, this should create a path tha

[2017-01-16 10:21] #113 closed

[2017-01-16 10:21] egeriis commented on #112
You should be able to read the server response from the promise resolver. Is that not possible?

[2017-01-16 10:21] egeriis commented on #112
I.e. `readEndpoint('dummy').then(res => console.log(res))`

[2017-01-16 10:22] Nopzen commented on #112
@egeriis i think @Realtin issue is in the `.catch(error)` not in the promise :) Am i right ?

[2017-01-16 10:23] egeriis commented on #111
I don't feel like I am able to conclude anything, because the spec doesn't mention it. So I wouldn't say that any approach is wrong, I'd rather point out that there are no _right_ solution atm.

[2017-01-16 12:50] Realtin commented on #112
So the snipped I posted is what I can see in the chrome dev tools in the Network Tab:
![bildschirmfoto 2017-01-16 um 13 48 35](https://cloud.githubusercontent.com/assets/507997/21983641/953cfd42-dbf2-11e6-8e11-dd0c6972596a.png)

I have code like this: `createEntity(stuff).then(res => console.log(res))`

[2017-01-16 22:36] jephjohnson commented on #113
@Nopzen  - Thank you, I'll give that a go

[2017-01-16 23:57] license2e commented on #53
@egeriis Any chance `credentials: 'include'` can be an optional setting instead of adding it by default?

[2017-01-17 08:40] egeriis commented on #112
You're right, the response body is not exposed through `catch`. I had to look at the source to be reminded: https://github.com/dixieio/redux-json-api/blob/master/src/jsonapi.js#L122

[2017-01-17 08:43] egeriis commented on #46
@gavmck I think it has been missed. I can definitely see the use case, so I think it should be implemented for v2.0—which is a bit overdue to be honest. Do you have the chance to create a PR?

[2017-01-18 14:04] gazpachu opened #114 "[Caching question] Is the library or redux using some sort of caching?"
My team and I were experiencing an error randomly. It happens only in some machines. The data comes from the API correctly and gets set into Redux correctly, but in the final render, the content of a specific field called 'summary' disappears 🐙

We also made sure that the issue is not related with the markup inside `summary`. It has something to do with caching because when we clear the cache in t

[2017-01-18 17:46] tomharvey commented on #111
Having trawled through more of the JSON API spec it looks like they haven't any official way to accomplish what I'm suggesting, but as you say, they don't have any strict opposition to doing it.

https://github.com/json-api/json-api/issues/795#issuecomment-159926461 shows a proposal similar to the 'workaround' I'm using above and that seems to be one solution being considered.

I'll close this off

[2017-01-18 17:46] #111 closed

[2017-01-19 12:38] egeriis commented on #114
Nothing is cached by `redux-json-api`. What it sounds like, is that an object in state is being mutated. Shouldn't be a bug in this lib, but obviously all software has bugs, so I cannot deny it outright :)

[2017-01-20 09:12] Nopzen commented on #114
Hi @gazpachu

You are working with JS objects here, and from what I can see in your summary, the field contains the sign *"* double quotes in the markup, try change this to *'* single quotes, not sure but that could break your code for sure. :)

Since your are stating your value with a doubblequote and then inserting one though the class=" then the code thinks it stops here.

This is all just my i

[2017-01-23 02:22] jbadger opened #115 "undefined is not an object (evaluating 'resource.relationships[key].data.type')"
When deleting a resource in my application, i'm getting the following error from redux-json-api.  My server is returning an empty response body with 204 No Content status as recommended by the specification: http://jsonapi.org/format/#crud-deleting.

[code]

[2017-01-23 10:24] gazpachu commented on #114
@Nopzen it's not the markup. So far, I think it could be two different endpoints mutating the same resource. I've refactored it to perform the API read operations sequentially and seems to be working well (at least in staging). In production with cache we still have issues.

I will close this issue until I have more details of what's exactly the problem.

[2017-01-23 10:24] #114 closed

[2017-01-24 06:02] jbadger opened #116 "Relationships lost when future requests don't include relationship"
I've been having a problem since I started using this library back in August, which i've worked around by carefully making requests in a specific order or by ensuring all data I need is included, but this has proven to be painful, error prone and inefficient.  I used it as an excuse to "refresh" my data in case it had changed, but my application has finally reached a point where this is no longer

[2017-01-24 08:28] nitzansan commented on #18
Are there any news regarding this issue?
Is some kind of multiple-endpoint hosts going to be implemented anytime soon?

I personally think that both approaches mentions here should be available.
I agree with egeriis that it's generally more convenient to have to set the endpoint once.
However, full url should also be supported, for example we're using a complex microservices (all are "json-api"ed)

[2017-01-24 08:58] nitzansan commented on #48
We're also facing an identical issue.
I would have to agree with @kazazor here - it would be extremely(!) convenient to have the ability to specify action names for the different endpoints methods.

We have actually used promises at first, since the current one action name for which endpoint you're calling is not really helpful for handling events in a redux-way.
This caused a lot of code duplicat

[2017-01-24 09:20] egeriis commented on #48
@nitzansan I'd be happy to take up the discussion, but please provide your use case for me to get an insight. Otherwise it's very hard for me to get into your perspective. That was the challenge for me in the discussion above.

It sounds like what you're looking for is a way to _structurally_ chain actions with the redux-json-api actions?

What about doing it in your own module, like this:

[code]

[2017-01-24 09:35] egeriis commented on #18
@nitzansan The discussion appear to have stalled, and I haven't moved on it personally :) I'd be happy to review a PR if you have a good proposal for how this could work the best.

Feel free to discuss your proposal first, if you wish to :)

[2017-01-24 09:40] egeriis commented on #116
Your payload is actually not valid. If you look at the [documentation for relationship objects](http://jsonapi.org/format/#document-resource-object-relationships) it states:

That being said, I think our lib would have the same issue if there was a relationship object with only `links` or `meta` :)

I am not sure what is at works here, because the only relationship you have between your `articles`

[2017-01-24 09:42] egeriis commented on #115
That's interesting. As we haven't experienced this issue, I would need some more information to reproduce it.

The best scenario would probably be, if you were able to produce a breaking test. Otherwise I'd have to get your state and the resource you're deleting, then figure our a minimal breaking scenario from that.

Would you care to try to create a breaking test?

[2017-01-24 23:36] jbadger commented on #115
@egeriis I believe this is related to #116, in which I have relationships with no data key.

In my local testing, the fix would be to do a undefined check in addition to the null check on line 144 of state-mutation.js.

[2017-01-25 01:28] jbadger commented on #116
@egeriis I was actually mistaken above.  Here is a simple test case that reproduces the issue.

[code]

[2017-01-26 09:21] nitzansan commented on #48
@egeriis - What you gave is a very good specific workaround which we actually implemented around our code.
The use case is quite plain to tell you the truth - we want the ability to trigger custom dispatches based on different usages from different components and logics.

There are many ways to achieve this. Either by using promises, wrapping the readEndpoint function, using middleware.
However, i

[2017-01-26 09:49] nitzansan commented on #18
I will discuss with my team, maybe one of us will be able to get to it sometime soon.

[2017-01-27 13:58] egeriis commented on #48
There will be no issue with this approach 🙂

I honestly just don't agree that this approach is better. But that is obviously very opinionated, and some of the thoughts that arise are really about application code structure. Obviously I do not want to discuss how other people should structure their apps.

I'm not sure what I personally would like to do from here. The easy solution would be to cave

[2017-01-27 14:01] egeriis commented on #116
I see. Would probably solve the issue by adding a condition to that if-sentence, to check if `resource.data` is set?

Would you care to submit a PR? :)

[2017-01-27 14:04] #104 closed

[2017-01-27 14:05] #98 closed

[2017-01-27 14:12] #85 closed

[2017-02-07 01:16] #100 closed

[2017-02-14 10:35] stefanvignir commented on #112
@egeriis This is not only a result of programming errors, but also covers problems with user input and form validations, which in this case are done on the server side.

In this case, a lot of form validation falls back on the server and with a rather complicated model structure, so it's not always feasible to perform client-side validation to prevent this. Also, JSON API conventions account for e

[2017-02-14 13:04] Realtin commented on #112
☝️ this is my co-worker by the way. sorry for the late reply.

[2017-02-14 13:10] egeriis commented on #112
@stefanvignir @Realtin You're absolutely right, don't know why I didn't consider that 🙂

It does look like we're exposing the response though: https://github.com/dixieio/redux-json-api/blob/master/src/utils.js#L20

And I think I was a bit quick in my earlier reply, because it looks like all the detail is there, in your screenshot?

What are you missing from the body in the response object from you

[2017-02-14 13:41] Realtin commented on #112
my first screenshot (in this comment: https://github.com/dixieio/redux-json-api/issues/112#issuecomment-272854440) is from the Chrome Dev Tools (Network Section) this is the raw response that is coming in from the backend.
And the second one is the console.log in my promise where I log the whole response object that I get through redux-json-api
_(both are the same request at the same time)_

so th

[2017-02-14 13:50] Realtin commented on #112
could it be that the error.body in the Javascript error onject is not filled correctly because the errors that come from the backend are an array?

[2017-02-14 15:10] egeriis commented on #112
I am not sure what `detail` is supposed to be, but if you simply want to read the response body as a JavaScript object, I am pretty sure that you can do `error.response.json().then(json => ...)`

[2017-02-14 15:11] egeriis commented on #112
`error.response` should simply be the response object. We don't modify it at all, but set in on the error object to add the ability to do exactly what you're asking for 🙂

[2017-02-15 15:42] tomharvey opened #118 "Master branch failing after PR97 merge"
Looking back through TravisCI it looks like merging https://github.com/dixieio/redux-json-api/pull/97 has broken the build.

I see that there was some concern expressed by @egeriis about so many tests changing, I never saw much to address that from @gavmck but the branch was merged.

When I started on https://github.com/dixieio/redux-json-api/pull/117 all of the unexpected red gave me brown pants!

[2017-02-15 15:45] tomharvey commented on #118
I've raised a PR with some nice green Travis marks again. I manually unpicked the troublesome changes to the tests so the work done to deprecate the old API and add a yarn.lock file should be intact.

The spelling correction in https://github.com/dixieio/redux-json-api/pull/97 wasn't unpicked.

[2017-02-16 10:49] stefanvignir commented on #112
The `detail` attribute is generally the actual human-readable error message, while the `title` attribute is more of a heading-level message.

The source pointer then points to the attribute related to the error, to make it possible to highlight the field relating to the error.

(Example: `{ "title": "Invalid attribute", "detail": "Postal code does not correspond to the region/state selected", "sou

[2017-02-16 12:17] egeriis commented on #112
@stefanvignir Aah! You're referring to the JSON API spec.

Ok, so here's the deal: you _can_ read the error response already. As you can see in `utils.js` we add the response object to the thrown error: https://github.com/dixieio/redux-json-api/blob/master/src/utils.js#L20

That means that you can view the response object through `error.response`. If you want the response body parsed as JSON, you

[2017-02-16 12:17] #112 closed

[2017-02-16 14:59] Realtin commented on #112
just to update:

I was looking at the `error.response` from the beginning but when you look at it (screenshot above) there is no evidence that there is this _JSON API Sepc Errors Array_ hiding anywhere. I was missing the information about connecting it with a `.json()` and that this is returns a new promise which ultimately returns what I needed.

so:

[code]

this finally gives me access to the E

[2017-02-21 11:59] egeriis commented on #112
@Realtin It has nothing to do with redux-json-api, it's a regular Response object. But it would definitely be useful to mention that we're passing the Response object to the error 🙂

[2017-02-21 13:24] tomharvey commented on #118
Hi @egeriis - I don't mean to push, but any thoughts on this? Understand if you're otherwise busy, will you or @mansona be back around to check this issue and suggested PR?

[2017-02-21 18:28] egeriis commented on #118
Hi @tomharvey, I just quickly glanced at your PR. Sorry for keeping you waiting. I'm not a fan of removing the functionality, but it's clear that something is broken.

I think I should be able to prioritize some time for this issue one of the coming days. I really would like to fix the actual issue, not just revert to older version :) If you're able to have a more thorough look at it, that'd be gr

[2017-02-21 18:48] tomharvey commented on #118
It's understandable that we should avoid pulling functionality out of the library but given that adding that functionality broke the tests it's unclear that the functionality is working as expected.

I'm not entirely clear on what https://github.com/dixieio/redux-json-api/pull/97 was trying to achieve and it's a little difficult to dev on a broken repo but maybe I'll get some time next week to dig

[2017-02-21 19:28] gavmck commented on #118
Hey guys, I'll try and take a look at this if I can find a moment. No wifi
right now... Presume something must be clashing between mine and some other
work.

Had to rewrite the tests as the structure no longer made sense with the new
functionality. Shouldn't be much real change though.

On 21 Feb 2017 6:49 pm, "Tom Harvey" <notifications@github.com> wrote:

[2017-02-23 16:22] gazpachu opened #120 "[Question] Force the update of the state even when the returned resource is empty"
I've noticed that, when reading and endpoint, if the returned resource data is an empty array, the state is not updated in redux. This is an issue for me, as my default value for that resource is `null` and I'm expecting it to become an empty array (once the data is loaded from the API), but it never changes. It only changes if the returned resource data is not empty.

<img width="345" alt="screen

[2017-02-24 14:25] Nopzen commented on #120
I think this is pretty intentional from our side of things.

There is no reason to update the redux state if not need be, to me this seem more like a implementation specific detail in your application if you expect a empty array? Then may I suggest just having a empty array as the default instead of `null.`

if the issue is because you are showing a loader mean while its `null` this could maybe li

[2017-02-24 14:30] gazpachu commented on #120
Thanks @Nopzen,

But I need to catch the 3 states of the resource: when it's null, when it's empty and when it has data:

[code]

[2017-02-24 21:09] Nopzen commented on #120
Hi @gazpachu

I see what you need here, but like i said this is very implemtation specfic and is not something the `redux-json-api` should solve for you, but i will give you a few hints how you could solve this issue.

Since all the api's are returning a promise you are able to chain these promises and do either

[code]

This is more your responsibility todo since we dont want to pollute the state

[2017-02-27 08:33] gazpachu commented on #120
Thanks @Nopzen. I'll do that.

[2017-02-27 08:33] #120 closed

[2017-03-04 18:39] ryantownsend opened #121 "Possible to read response meta?"
[jsonapi-resources](https://github.com/cerebris/jsonapi-resources), a popular Rails library for building JSONAPI-complaint APIs, utilises `meta` for things like pagination counts.

I can't seem to find anything pertaining to `meta` in this library whatsoever. Does anyone have any recommendations for how I could access it?

[2017-03-10 06:46] Nopzen commented on #47
Made the initial changelog, i could not see where the "Custom headers" in request is being set, please add note about this.

---

# Changelog v1.x - v2.

### Changed
- Response object no longer just sends the data, but sends a object containing data + handlers for prev and next pagination. #21
- Authentication header with "Bearer" is now configurable, as not all users want this setup. #41
- The ba

[2017-03-13 10:45] Nopzen commented on #48
Merged to branch 2.0 and is in the progress of release. Closing.

[2017-03-13 10:45] #48 closed

[2017-03-13 11:32] Nopzen commented on #2
Mergede to 2.0 branch, in prep for release

[2017-03-13 11:32] #2 closed

[2017-03-16 02:14] Kou-Guandong commented on #121
I've got the same problem, and struggled to find a solution. I don't think it is the best way to write a separate action/reducer by hand.

[2017-03-23 21:02] egeriis commented on #121
You can read the response from the resolve callback, i.e. `readEndpoint(...).then(res => console.log(res))` would log the response.

[2017-03-23 21:02] #121 closed

[2017-03-23 21:42] ryantownsend commented on #121
Wouldn't this be better as a native part of the library's reducer, rather than something handled inside a component?

[2017-04-03 07:24] dustinstanley opened #124 "Provide option to use objects/maps keyed on ID rather than arrays in the saved state"
Hello,

I was trying an example of this library against some JSON-API endpoints and noticed that after a read operation, the redux state looked like it was storing the retrieved entities in arrays (like the following):

`{
	api: {
		entityTypeOne: {
			data: [ {id: 1}, {id: 2}, ...]
		},
		entityTypeTwo: {
			data: [ {id: 1}, {id: 2}, ... ]
		}
	}
}`

Is there an option to instead persist the data

[2017-04-04 08:31] Nopzen commented on #124
Hello @dustinstanley

Thanks for rasing this flag, as of now the short answer is no, the library cant store enteties as keyed objects.

To address this:

This is the expected  behaviour according to the spec :)

But i dont see the reason why it can't, but i would like to see the reason behind moving the ID our as a key to the object rather than just loop though the arrays and find the entity neede

[2017-04-05 06:14] dustinstanley commented on #124
I think that aside from the convenience of having things keyed on IDs, the other nice thing about it is that it will perform better whenever you need to look up an object by ID.  Using a helper function, you are looking at O(n) worst case runtime, whereas with a map it'll be closer to constant time on a modern JS engine like V8.

If you have a lot of items in your array, that can be a significant

[2017-04-05 13:37] Nopzen commented on #124
Hi @dustinstanley

I can totally see the bennefit most of the time we know the `id` of an `resource, and it makes it really tedious to run a `Array.find()` or `Array.findIndex` what ever the case should be and i know there could be performance issues on larger scale data sets for sure.

But in my opinion this tool is build to follow as strictly the `json-api` spec to not have any confusions regard

[2017-04-06 14:22] morenoh149 opened #126 "add option to automatically paginate readEndpoint"
Sometimes there is a desire to request all resources of some type. `readEndpoint` can accept an extra option `all = true` which will make this library detect for any `next` key and automatically issue another http request for the next page of results.
This is a convenience and would make the library more declarative to use.

[2017-04-06 21:38] tb opened #128 "Proposal for 3.0 changes"
redux-json-api 2.0 looks great! Thank you for your hard work on it!

I would like to offer help to improve it. Here are ideas:

New store structure:

    {
      api: {
        posts: {
          byId: {
            '1': {
              {
                id: '1',
                type: 'posts',
                links: ...
                attributes: ...
              }
            },
          },

[2017-04-07 08:46] Nopzen commented on #128
Hi @tb

Thanks for to proposal, this already started in #124 this resources on key rather than a large array of objects.

one thing im not fan of is using the word `fetch` personally it identifies to much with the `fetch` lib.

I'am big fan tho of making selectors, it is somthing that have been up on the table before, so i could get behind that idea for ease of use.

[2017-04-11 09:16] mathiasjakobsen opened #131 "Function imports fails in v2.0.0-beta.0"
Importing setter method like:
[code]
will fail with:
[code]

I can assure that `setEndpointHost` is undefined.

There is not problem in version 1.7.0.

[2017-04-11 13:21] jmeas opened #132 "Cancellable XHRs"
Promises for XHRs are nifty – particularly for control flow (`Promise.all`, etc) – but provide a subset of functionality compared to the xhr object, since they don't support aborting. On the other hand, a fully-functioning Promise can be built pretty simply from a regular xhr object.

It'd be pretty cool if this library supported aborting requests.

One idea for doing this would would be to use a

[2017-04-12 14:05] Nopzen commented on #131
Hello @mathiasjakobsen

There is a simple explanation of this event, you are importing deprecated methods, please see this comment by @egeriis - https://github.com/dixieio/redux-json-api/pull/41#issuecomment-241394707

and see this PR https://github.com/dixieio/redux-json-api/pull/125 explaning some of the updates that needed to be taken to use version 2.0.0-beta.0

[2017-04-12 14:09] Nopzen commented on #132
Helle @jmeas

I can tell you the following, `v2.0.0-beta.0` is currently moving away from the `fetch` lib and moving to [Axios](https://github.com/mzabriskie/axios), im not sure if this is library supports your requested behavior, feel free to dig in to the axios api and see :) and if you find anything come up with a PR :)

I hope this helps you for now, we are always interested in new features :)

[2017-04-12 14:44] jmeas commented on #132
Thanks for the response, @Nopzen ! axios does suppotrying cancellation 🙂 I'll close this out

[2017-04-12 14:44] #132 closed

[2017-04-12 20:07] Nopzen commented on #132
@jmeas - You're very welcome.

[2017-04-14 07:29] tb commented on #128
@Nopzen I am working on something like the 3.0 for the past week. The code is a mix of redux-json-api and admin-on-rest cocnepts. Its still in early stage, but already supports:
- CRUD
- stores data byId
- list pagination
- normalziation/denormalization

The last thing I think is something you should check out, it made redux-form and validations much easier, see https://github.com/tb/rails-json-ap

[2017-04-19 11:03] egeriis commented on #128
Hey @tb

Again thank you for your thoughts.

There are several interesting points I would like your thoughts on.

### Storing data in hash-table

Context and history: the current state structure was decided to mimic the standard described by JSON API.

While this is good for readability and translation of JSON API resources to the application state, there's also an obvious drawback. Look-up for a

[2017-04-19 20:28] tb commented on #128
Hi @egeriis

### Storing data in hash-table

I consider it official best practice. byId is described in many places, i.e.

* http://redux.js.org/docs/recipes/reducers/NormalizingStateShape.html
* https://github.com/reactjs/redux/issues/1222
* https://hackernoon.com/redux-step-by-step-a-simple-and-robust-workflow-for-real-life-apps-1f
* https://medium.com/statuscode/dissecting-twitters-redux-store-

[2017-04-20 08:06] egeriis commented on #128
### Storing data in hash-table

I've seen those resources before. Was hoping to bounce my thoughts a bit. I am pretty settled with your suggestion being the superior solution, but changing convention for redux-json-api requires me to be sceptical 🙂

### Selectors

Selectors will definitely be obligatory to include, with a hash-table/byId approach. I might've missed that context of your original po

[2017-04-20 08:58] tb commented on #128
### Pagination and keeping lists

Yes, we will need to store some meta-data alongside the array of IDs. Given:

    fetchList( resourceType: string, payload = {}, meta = {} )

* payload - can include pagination object (page size, current page) but also includes and filter.
* meta - can include list name i.e. list: 'customList' or any other redux store related stuff not sent to backend

It is possi

[2017-04-26 23:10] iroy2000 opened #134 "Missing "lib" after npm install, probably because of test failed"
After npm install, the redux-json-api module is missing the "lib" folder which was defined in the package.json

![screen shot 2017-04-26 at 4 04 24 pm](https://cloud.githubusercontent.com/assets/487520/25460786/3001b9e4-2a9a-11e7-8959-9efa75d35255.png)

And when I check out the project, the test is failed

![screen shot 2017-04-26 at 4 09 11 pm](https://cloud.githubusercontent.com/assets/487520/25

[2017-04-27 05:59] Nopzen commented on #134
Hi @iroy2000

I dont think this is releated to the lib missing, if you check out the `2.0` branch this is fixed, we proberly should fix this issue in the 1.x.x aswell, i know all tests got fixed with `2.0`

Also the lib is basicly the build version of the module, so this should not effect the tests, since the tests are executed on files within the `test` folder.

[2017-04-27 07:23] iroy2000 commented on #134
@Nopzen , I meant the `lib` is missing in the build, I didn't mean the test fail is because of that.  What I meant is actually the reversed, is it because the test fail, that's why the build command is not run ?

[2017-04-27 07:29] Nopzen commented on #134
@iroy2000

Sorry my bad, but no the tests are not blocking the build

build command `"build": "rimraf lib && babel ./src -d lib"` do not trigger the build, the build error is happning on travis, who is only responsible from what i know to run the test seperately.

If the lib is missing it more likely that we have removed the lib, and forgot to build before a release, witch seems very unlikely, but

[2017-04-27 07:34] iroy2000 commented on #134
@Nopzen I just run `npm install --save redux-json-api`  ( just like other npm packages )

[2017-04-27 07:52] Nopzen commented on #134
@iroy2000 - Let me get back to you later, im currently a bit occupied, but it seems wired. :)

[2017-05-01 20:46] firstgeneration opened #135 "Many to many with relationship url"
Is there support for a many to many as shown here?:
http://jsonapi.org/format/#crud-updating-to-many-relationships

Would be awesome to `POST/PATCH/DELETE` to
`/primary_resource/:id/relationships/related_resource`

[2017-05-02 21:50] iroy2000 commented on #134
It turns out it is an issue on my side, closing this ticket.

[2017-05-03 11:54] aklkv opened #136 "v2.0.0-beta.1 no lib folder when installing from npm"
I have installed latest beta from npm and there is no `lib` folder. I can build it locally for testing but I think something has gone wrong when the package was published. In fact, there is now `src` folder either.

[2017-05-03 12:26] Nopzen commented on #136
Hmm this is pretty funny its been reported for `v1.x.x` aswell #134, but user claims it was a error on he's side.

[2017-05-03 12:26] Nopzen commented on #134
Hello @iroy2000

Sorry i didn get back to you, been very busy, but how did you solve this isse, another user experiences similar issue in `v2.0.0` see #136

[2017-05-03 12:45] aklkv commented on #136
@Nopzen I can't think of anything that go wrong on my end.
![2017-05-03 05 42 58](https://cloud.githubusercontent.com/assets/312210/25661023/ab207664-2fc3-11e7-988c-b18bb2789bf0.gif)

[2017-05-08 19:27] iroy2000 commented on #134
Hi @Nopzen ,

It is still happening, my co-workers telling me it is fine, so I close it, but when I test it today, it is still failing.

[2017-05-10 14:25] Nopzen commented on #134
Hi @iroy2000

Yeah i saw the PR, but personally im pretty swamped right now, maybe @egeriis could take over this one?

I know for at least 1 week or so I wont have the time to devote my full attention span to this, sorry for the delay.

[2017-05-11 11:40] Nopzen commented on #136
Hi @aklkv

Sorry the delayed answer here, let me try to look into this in the weekend, i think i have some time to do it there, in the mean time, if you still and to use this, you should be able to go to the director and run: `$ npm install && npm run build` this should create the lib i will have a small look today what i could have done wrong while publishing it.

@egeriis Could you have any idea

[2017-05-19 11:10] egeriis commented on #136
It's probably a faulty publish. It's a pitty that it's not possible to check what has been published to NPM on their project page.

[2017-05-19 14:50] gazpachu opened #140 "Does it work with react native?"
I am just wondering if this library can work well in a react native project as well

[2017-05-23 12:36] egeriis commented on #140
Yes, it has support for React Native. We have a few people, including @mansona, who uses it for RN projects.

[2017-05-23 12:36] #140 closed

[2017-05-24 08:08] mathiasjakobsen opened #141 "Add support for resource actions"
As discussed in https://github.com/json-api/json-api/issues/320, the `JSON:API` standard lacks a specification on how resource actions should be handled. Until it's settled I propose that `redux-json-api` implements a `writeEndpoint` actionCreator similar to `readEndpoint` but as a POST request, which makes it up to the developer how to handle the semantics regarding resource actions.

I argue tha

[2017-05-24 14:43] morenoh149 opened #143 "List features"
For folks considering using this library, it would be useful to see a list of features this library offers.
So far I know that it provides facilities for interacting with a jsonapi compliant api, but what other conveniences might it offer?

[2017-06-01 06:45] mathiasjakobsen commented on #131
@Nopzen, how did I even miss that? ¯\_(ツ)_/¯ Well, thank you anyways.

[2017-06-01 06:45] #131 closed

[2017-06-01 14:55] Nopzen commented on #143
What features are you looking for to list, the tool is very simple and is a CRUD operations tool nothing fancy, we dont offer any thing else right now?

I dont see a good reason to list these operations?

[2017-06-01 16:38] morenoh149 commented on #143
perhaps if it could keep track of previously issued http requests and reissue them?
If there were some level of batching, queueing, retrying.
I'm personally implementing these optimizations in a js client designed to work with a jsonapi, so I'm wondering if this library already offered these facilities.

I have nothing concrete atm though.

[2017-06-02 07:54] Nopzen commented on #143
HI @morenoh149

Im sorry i must have misunderstood you, could you try to create a use case where this would be needed, i thought it was just documenting a list of the features into the docs?

[2017-06-02 07:57] Nopzen commented on #136
Hi @aklkv

I can see @egeriis re-published the package under v2.0.0-beta.2 with a merge request of yours #137 could you see if this fixes your issue, so we could close down this?

[2017-06-02 07:59] Nopzen commented on #135
Hi @firstgeneration

As of now no, we dont support this.

If someone would be up for creating a PR for this i think it would be nice to ship with the v2.

[2017-06-02 08:01] Nopzen commented on #134
Hi @iroy2000

Could you try the new `v2.0.0-beta.2` to see if it got fixed ?

[2017-06-02 08:04] Nopzen commented on #126
Hi @morenoh149

Sorry for the delayed reply, is there a reason why your API dont just support this as a query param such as `https://mysite.io/api/articles?page=all`, then this would be a non issue? and you would limit the amount of http requests made, and giving your users the data faster? because you dont need to do several round trips?

[2017-06-02 08:05] Nopzen commented on #124
Closing this issue for the v3.0 Proposal talk ^

[2017-06-02 08:05] #124 closed

[2017-06-02 11:47] aklkv commented on #136
@Nopzen 👍 thank you! works great now

[2017-06-02 11:47] #136 closed

[2017-06-06 09:38] Nopzen commented on #134
Closing since bug seems fixed in #136

[2017-06-06 09:38] #134 closed

[2017-06-06 09:40] Nopzen commented on #109
Hi @Pierozi

Version 2 have been in beta for some time now, as of today current tag is `2.0.0@beta-2` maybe you could see if this would solve your issue ?

[2017-06-06 09:43] Nopzen commented on #92
I think its very application specific that the app would re-render due to this issue, if the application state would be immutable this would not happen, and based of the redux way of thinking, this should be the case.

As you said i dont think alot of applications are using this, so maybe it could be deprecated?

[2017-06-06 14:11] Pierozi commented on #109
Thanks for the update, will look at v2 at a time and let you know.

[2017-06-07 09:49] rsadyhov commented on #40
Ascending order doesn't work - readEndpoint('/endpoint?sort=-age')

[2017-06-07 12:20] egeriis commented on #143
@morenoh149 Hey, thank you for participating in this community.

This library is build around the RESTful principles that JSON API also adheres to. I am not sure in which use cases batching, querying and retrying are relevant, so it is hard for me to participate in the discussion without some examples 🙂

What we try to keep in mind is that the functionality built into redux-json-api should be rele

[2017-06-07 12:22] egeriis commented on #141
That's a super interesting discussion. One that hasn't even been solved—as far as I am aware—by REST.

We are super open to PRs implementing some way of achieving this.

In our own use cases, we used magic resource attributes that would trigger an action. E.g.

[code]

[2017-06-07 12:23] egeriis commented on #141
I missed that you already made a PR, awesome. I'll take a look.

[2017-06-07 12:35] egeriis commented on #135
For now it's not supported through `relationships/relation` endpoint. But you are able to PATCH a resource with the updated `relationships` property :)

[2017-06-07 12:36] egeriis commented on #126
Sounds like an API implementation issue, not so much the client-side implementation.

[2017-06-07 12:36] #126 closed

[2017-06-07 12:40] egeriis commented on #40
@rsadyhov I'll repeat myself:

[2017-06-09 11:14] istvan-hevele opened #144 "Resolving response from delete api calls"
Hi,

I have a use-case where I want to be able to use the response coming from a delete call. I think it would be useful to have the Promise resolved with the response of the delete call.

[2017-06-12 16:46] Nopzen commented on #144
Hi @istvan-hevele

That seems reasonable, could you try to create a PR for this? Note if we are implementing this in `v1.7.x` this needs to be ported to `v2.0.0` #125

I will have a look asap at your PR :) Remeber test.

[2017-06-15 23:30] ShMcK opened #146 "pass host, namespace into resource changes"
There should be a way to support namespaced (v2, v3) endpoints or changed urls with redux-json-api. Currently this is not supported with `createResource`, `deleteResource` & `updateResource`.

Happy to put in a PR or take suggestions.

[2017-06-20 12:51] Nopzen commented on #146
Hi @ShMcK

It is correct understand that currently in the v1 we only support one Host / endpoint path, and the crud operations works of these.

To under stand your usecase you have 2 diffrent api paths `https://api.myapi.io/api/` and `https://api.mysite.io/second-api/` and you would like to have the ability to support have the ability to use witch ever in any given situration?

I think this would

[2017-06-21 17:25] ShMcK commented on #146
I've put together a basic PR that allows for overwriting any axiosConfig keys. see #147.

[2017-07-30 18:02] dpdawson commented on #116
Not sure if many people care about this issue, but I found it a bit annoying in a project I'm working on, so I patched it. Probably not the best fix, but I think it's at least sound for the situation discussed in this issue.

[2017-08-08 21:16] dvidsilva opened #150 "Refreshing the auth token / set auth token Synchronously"
Hi, we tried a few things and before breaking everything we figured we ask, someone has to have figured out a way.

If the user is idle or logged in for a while, the token is going to not work and requests will fail.

We thought about creating middleware that will wait for 'API_WILL_READ' and then if the token is about to expire, request a new one and set it but because it sets it asynchronously t

[2017-08-09 05:15] brietsparks opened #151 "multiple api's"
I have multiple separate json api servers.  I have to dispatch setEndpointHost, setEndpointPath etc before each api call so that redux knows which one to hit.

Am I doing this wrong? Anyone know of a better way?

[2017-08-21 22:15] dvidsilva commented on #71
I'm needing this for PATCH, I have a token this API requires as a query parameter. I'm currently having to manually create a request using Fetch which is not ideal.

I think PR #148 implements this, by letting you send additional arguments to override the configuration.

[2017-09-04 08:27] #141 closed

[2017-09-08 13:35] ev1stensberg opened #152 "Change Documentation to reflect new changes"
The current documentation is old, and may need a change with respect to #41

[2017-09-27 21:30] dvidsilva commented on #116
@dpdawson can you share your patch? this is kinda annoying too.

[2017-10-07 13:05] v07h4nhd47 opened #153 "Workwith Immutable.js"
Please make redux work with immutablejs

[2017-10-09 11:53] egeriis commented on #153
This is not Redux :)

[2017-10-09 11:53] #153 closed

[2017-10-09 11:54] egeriis commented on #152
#41 is still to be merged in master. Look for updated docs in v2 branch.

[2017-10-09 11:54] #152 closed

[2017-10-09 12:02] egeriis commented on #118
No activity

[2017-10-09 12:02] #118 closed

[2017-10-09 12:02] #24 closed

[2017-10-19 17:18] zigzackattack commented on #116
@dpdawson -- I'm getting an error at the [Object.assign line of this fix](https://github.com/stonecircle/redux-json-api/pull/125/commits/e4798834ef7fad16c5d9327da0333fa93dd3400e#diff-bc9093eca63267794ab2e7f893904fa5R129).

Seems that when a resource does not include a `relationships` property, Object.assign throws the following error:

[code]

Any thoughts?

[2017-10-23 16:16] egeriis commented on #116
@zigzackattack Good catch. We should probably use `imm.set` instead. Feel free to submit a PR :)

[2017-11-01 01:24] seattlecyclist opened #154 "Best Practice for 422 or 500 Errors"
Hi,
This is not an issue exactly but I do not know where to ask my question otherwise(feel free to close)...

I am trying to figure out the best way to handle server side errors, either expected like validations or unexpected like 500s.

I am currently rendering a 422 response code with the following body
[code]

Using 2.0.0.beta.3... btw...

How should I handle this error?  my redux action curren

[2017-11-01 11:48] egeriis commented on #154
redux-json-api doesn't keep a record of error responses. But when you're dispatching e.g. `dispatch(updateResource({ ... }))` the dispatch call will return a Promise. So you can do:

[code]

This enables you to handle error messages, as the format and handling is something we wanted to avoid being opinionated about.

[2017-11-02 15:33] dpdawson commented on #116
`Object.assign({}, resource.relationships, relationships);` should work, right?

[2017-11-13 10:44] egeriis commented on #116
@dpdawson You would have to assign the return value to `resource.relationships` then. I'd recommend using [object-path-immutable](https://github.com/mariocasciaro/object-path-immutable), since it ensures immutability. It's imported as `imm`.

[2017-11-27 13:45] PedroVinicius opened #156 "Could you guys give me an example of using json-redux-api with Axios?"
Hello, I'm trying to use this library in my project, but I just discovered that in the latest beta, `setEndpointHost` and `setEndpointPath` don't exist anymore. However, reading the source code I have also discovered that there is a method for setting up axios. My question is: how can I do that? What should I do in order to get axios working correctly with `redux-json-api`? Could you give me an ex

[2017-11-27 17:51] egeriis commented on #156
You simply want to specify the base URL in the Axios config. That’s the equivalent.

[2017-11-28 10:03] PedroVinicius commented on #156
Ok, I wrote that way:

[code]

Now, how can I fetch an endpoint with its related resources (include)? Do I need to hardcode the include at the end of the path when using `readEndpoint`?

[2017-11-28 19:28] egeriis commented on #156
Yeah, `readEndpoint` doesn't care about parsing the URL you're providing. So you can pass any query param through there.

[2017-12-10 16:01] etiennecaldo commented on #135
Hi guys,

First of all thank you for your work on this library.

I wanted to know if this feature is planned in a near future? On my side I have a backend library that doesn't allow PATCH of relationships' resource via resource api. I must use relationship API. I'll try to have a look and share a PR but I am a redux newbie.

By the way, while looking at the code I saw something strange in state-mu

[2017-12-18 16:18] egeriis commented on #135
Hey @etiennecaldo

Are you looking to patch something like `/resource/:id/relationship` ?

At the time of writing this lib, that wasn't something that had been described by JSON API iirc.

That resource should also have a canonical URL though, which should correspond to `/relatedResource/:id`, so I don't know if this is really a JSON API issue if you _have_ to PATCH through relationship URL.

---

[2017-12-23 18:27] dvidsilva commented on #156
Thanks for the hard work @egeriis , using `setAxiosConfig` worked perfect, Any plans for updated documentations and examples? the linked example repo still uses the old way.

I have some time this week, if no one else is on it I can take a stab at it.

[2017-12-25 00:51] egeriis commented on #156
Good to hear @dvidsilva. Unfortunately the example repo is not in my control 😕

[2017-12-25 00:52] egeriis commented on #156
The docs _are_ updated. But be sure to check the 2.0 branch.

[2017-12-25 19:23] dvidsilva commented on #156
@egeriis no problem. If I create a sample repo for v2 and is good, can it get linked? might be useful for other folks.

[2017-12-26 20:44] egeriis commented on #156
@dvidsilva Oh yeah, for sure!

[2017-12-27 13:58] PedroVinicius commented on #156
@egeriis, does `setAxiosConfig` accept any config option officially supported by Axios?

[2017-12-27 21:25] dvidsilva commented on #156
@egeriis Actually this was faster, I changed the redux-json-api-demo repo to use v2, so people can also have an example of upgrading steps. https://github.com/dvidsilva/redux-json-api-demo

https://github.com/dvidsilva/redux-json-api-demo/commits/master

[2017-12-28 12:53] egeriis commented on #156
@tomharvey Are you open to a PR for these changes?

[2017-12-28 12:53] egeriis commented on #156
@PedroVinicius Yes, any config option. They are passed directly.

[2017-12-28 18:33] tomharvey commented on #156
@egeriis I'm good with @dvidsilva approach if you guys are. I've yet to upgrade to v2 so I can't really comment on any details, but more than happy to have someone else feed into the guide.

Will be sure to raise a PR with @dvidsilva if I think of anything, while I upgrade to v2, which could help the guide.

[2017-12-28 18:38] tomharvey commented on #156
I've also merged @dvidsilva into my repo.

[2018-01-12 19:55] dvidsilva commented on #150
Sorry reopnening this again, @egeriis

We forgot about this and now that we're trying it again we seem to be unable to stop future request from going while we wait for the new token to come back and get set.

[2018-03-24 10:44] Nopzen commented on #154
@seattlecyclist - Did you find @egeriis answer enough to solve you issue and close this?

[2018-03-24 10:48] Nopzen commented on #151
Hello @brietsparks sorry for the very long delay of answers, I've been away for some time.

I think as of know this module does not support multiple servers to call from, but if you would be up for creating such feature you are more than welcome to create a pull request, and we could take the discussion there.

[2018-03-24 10:54] Nopzen commented on #150
Hi @dvidsilva as of no there is no magical trick in redux json api there auto updates this token, @egeriis and i had kinda the same issue back in the day.

I think a middleware could be a cool solution but maybe adding this as a error handler on the response from the server, like when you dispatch your call using the read option, create a handler that reads `401` and `403`'s then in your middlewar

[2018-03-24 10:56] Nopzen commented on #146
@egeriis i saw that you have been on this PR, could you handle this? it recurring question with #151 i think it would be a nice feature to have for sure in the V2 of things. Since Axios allows for multiple instances out of the box.

[2018-03-24 11:00] Nopzen commented on #109
Closing this for now, feel free to reopen if this is still a issue for to @Pierozi in v2.

[2018-03-24 11:00] #109 closed

[2018-03-26 10:39] andela-kadeniyi opened #160 "Update hydrateStore doc example"
The `hydrateStore` doc example on 2.0 branch is wrong because of some import errors

[code]
The line above which I extracted from the doc is wrong as `hydrateStore` is not from `react-redux` but from `redux-json-api`.

I'm glad to put up a PR for this trivia issue.

[2018-03-26 17:51] dvidsilva commented on #150
Hi, we tried the middleware approach and it failed, it was hard to work around that. So we ended up wrapping the actions. Can't paste all the code coz there's a few specific things to us, but is something like:

Import the og methods with new names:
[code]

Created a wrapEndpoint method that tries to make the request and if the token is expired or the call fails with 403 it tries to get a new toke

[2018-04-03 10:06] #154 closed

[2018-04-03 10:24] egeriis commented on #150
What's difficult about taking care about this problem in redux-json-api is that I see the auth layer as very application specific.

What would be the ideal API in your POV? I'm thinking some kind of global handler which is triggered when the API errors, if that handler returns a promise that resolves, the request is done again. Something along the lines of:

[code]

[2018-04-03 22:11] dvidsilva commented on #150
Agreed on that is very application specific.

I like the idea on passing functions for that, maybe 3? One to check the validity of the token if it exists, one to check on a response error and see if the error was because of a token and one to request a new one?

Maybe this doesn't need to need merged back into the project but we can write a post or something and link to it in the tutorials so that

[2018-04-09 11:44] thomaxxl opened #162 "resource.type vs collection endpoint uris"
you seem to resolve the endpoint uri to
`${apiHost}${apiPath}/${resource.type}/${resource.id}`;

However, per the jsonapi spec this doesn't have to be the case,
e.g. a resource.type may be "Article" and the uri may be `${apiHost}${apiPath}/articles/${resource.id}`;

Would it be possible to add an optional parameter where we can specify the endpoint please?

[2018-04-13 14:12] egeriis commented on #162
@thomaxxl Can you point me to the specific section in the spec about this? Could not find it in my quick glance

[2018-04-13 14:18] egeriis commented on #150
We have some boilerplate code solving this particular issue as well, so while the way it should be handled is very application specific, the problem persists across all applications. I think it makes sense to find an API that would solve the needs, at least the most basic of needs.

Another related conversation is that redux-json-api shouldn't care for the auth logic at all. It taking care of sett

[2018-04-13 14:31] thomaxxl commented on #162
I understand, I should've been more clear and I'll check the spec again.

I tried to use this library against my service which uses
/articles for {"type" : "article" } and I think I checked the spec for that.

I had to hack your library and I thought it would be convenient to be able to specify the endpoint manually/optionally (where you infer the url from the type)

In this sentence in the spec,

[2018-04-13 15:13] egeriis commented on #162
Yeah, so you're correct in your assumption about how the URL for POST, PATCH and DELETE requests are put together.

Relationship endpoints is not something we're using behind the scenes right now. You may use them in GET requests though `readEndpoint`, but for that particular method you're specifying the exact endpoint yourself.

I can't find anything in the spec about this right now, but I recall

[2018-04-13 15:27] #3 closed

[2018-04-13 15:27] #160 closed

[2018-05-18 15:06] thomaxxl commented on #162
I asked this on the jsonapi forum:
https://discuss.jsonapi.org/t/endpoints-vs-types/1265

"Polymorphism is supported in the spec, and even unrelated json:api types can be in the same collections. This is why it’s important you don’t try to infer any information from coincidental likeness in deployment and documents."

[2018-05-24 14:10] egeriis opened #163 "Add flow-typed"
We should add an official flow-typed spec.

[2018-05-28 14:17] egeriis commented on #162
I'm not sure I find that conversation to be complete. _michaelhibay_ talks about collections, which implies reading from an endpoint. Using `readEndpoint` from redux-json-api to read from `/my-resources`, doesn't lead redux-json-api to make any assumptions.

I think there _is_ something actionable though, because instead of infering the URL from the type and ID, we should use `links.self` 🙂

[2018-06-14 09:30] egeriis commented on #47
The changelog is documented in the PR, which is linked frmo the releases page, so I think that's sufficient. A changelog file is always good, so if you're up for creating a "Migrating from 1.x to 2.0", that'd be :fire:

[2018-06-20 08:06] Nopzen opened #164 "Update set up configuration page to v2 Standards"
This page is still running the V1 setup, it is referencing the old setup api's:

`setEndpointHost`, `setEndpointPath`, `setAccessToken`, `setHeader` and `setHeader`

These are all been deprecated in favour of the `setAxiosConfig` api.

https://github.com/redux-json-api/redux-json-api/blob/master/docs/set-up-configure.md

[2018-06-26 12:33] egeriis commented on #164
Let's get a PR :tada:

[2018-06-26 12:34] Nopzen commented on #164
Ill try to get to it tonight, some RL stuff came in the way.

[2018-07-15 21:29] tomharvey commented on #156
Time to close the issue?

[2018-07-16 09:44] egeriis commented on #156
Good call @tomharvey

[2018-07-16 09:44] #156 closed

[2018-07-16 09:44] egeriis commented on #164
@Nopzen Had a chance to look at this?

[2018-07-30 06:59] Nopzen commented on #164
@egeriis Sorry no. I'll try to take a look asap, i got to open some codebase today where i use this.

[2018-08-04 21:51] Nopzen commented on #164
@egeriis so i can see i just use a very basic example:

[code]

And as i can see out of the code here:
https://github.com/redux-json-api/redux-json-api/blob/master/src/jsonapi.js#L194
[code]

We are basically on the key endpoint setting the given Axios config given as param to the action.

My assumtion here is we can pass a config as the given example of the Axios repo: https://github.com/axios/ax

[2018-08-09 10:01] egeriis commented on #164
Yeah, the configuration you provide are directly proxied to axios.

Legacy. We used to have endpoint and base path specified here. Feel free to move it. Should not break anything.

[2018-08-23 01:28] jeremyjaybaker opened #165 "Delete resource endpoint appears to use relative pathing"
I keep getting incorrect URLs for my API endpoint when using `deleteResource`. I checked the source and in `jsonapi.js` on line 153, the endpoint is indeed determined without a leading slash so it will always be relative:
const endpoint = \`${resource.type}/${resource.id}\`;

Is this intentional? And if so, how can I configure this plugin to always use absolute pathing?

[2018-08-23 09:00] egeriis commented on #165
I think this comes from the expectation that a `baseURL` has been provided to Axios (through `setAxiosConfig`. Might not be optimal, what do you think?

[2018-08-23 15:47] jeremyjaybaker commented on #165
Hmm, I thought I configured the axiosConfig correctly with the `baseUrl` but I may be wrong. I'll check that now and respond when I figure out what's going on.

I'm assuming you're asking my thoughts on whether setting `baseURL` should be necessary in order to determine the endpoint is optimal? I feel like the `baseURL` should default to something like `window.location.origin`. If this is not the

[2018-08-23 17:57] jeremyjaybaker commented on #165
Ok, I had to deal with some CORS issues before I actually addressed this one.

Correctly setting `baseURL` fixed my issue. For some reason I was expecting the `endpoint` param to act like the `baseURL` param. While the naming conventions definitely should've clued me in that I was configuring it wrong, it also seems like the docs are a little out of date? I can't find any of the `set` methods that

[2018-08-24 09:38] egeriis commented on #165
Yeah, actually we're waiting on #164 to be resolved. So I'm aware. If you're up for resolving the docs, a PR is welcomed with open arms 🙂

[2018-08-24 09:38] #165 closed

[2018-08-29 21:58] #83 closed

[2018-09-11 09:53] DimaelVertigo opened #166 "Links to state"
Hello.
How `API_READ` return only `tasks` and `include`.
Can I include to state also `links: {}` and `meta: {}` from response?

[2018-09-11 10:49] egeriis commented on #166
You mean the root `links` and `meta` properties? They're not automatically populated to redux state, no. The reason is that redux-json-api takes care of storing resources independent of requests, and `root.links`, `root.meta` are request-specific.

You can easily take care of storing them in whatever way you need, while keeping the benefit of having redux-json-api store your resources:

[code]

[2018-09-11 12:18] DimaelVertigo commented on #166
Yes, I mean the root links and meta properties.
![image](https://user-images.githubusercontent.com/8653710/45359578-a07ce000-b5d5-11e8-8399-099b71d7fb15.png)

I try to include `root.links` and `root.meta` to state and to props later.

[code]

[2018-09-11 13:16] DimaelVertigo commented on #166
[code]
I got access to `links` and `meta`. Thank you!

[2018-09-11 15:16] #166 closed

[2018-09-13 09:34] DimaelVertigo opened #167 "Update state at next readEndpoint"
Hello and happy Programmers day!

So, I make pagination from the server and receive not all data at same time.
For example:
When first `readEndpoint()` in `componentDidMount()` my app receive `data[]` (lenght===10).
Next, I click on the button and wait for the next 10 items. I see it in the `payload`. But `state` collects it and consist of old 10 items + new 10 items.
`render` shows 20 items. I wo

[2018-09-13 13:19] egeriis commented on #167
Hi @DimaelVertigo!

redux-json-api is build in the way that it maintains and structures your resources, this has a caveat that it doesn't keep a record of which resources were returned for a particular request.

This is part of the reason I have started working on https://github.com/redux-json-api/react-redux-json-api (name tbd) which helps with all of this while utilizing the awesomeness of havin

[2018-09-17 14:03] DimaelVertigo commented on #167
Can I access data from `payload` and save them to the different object?

[2018-09-25 12:58] mspae opened #168 "Custom URL construction"
Hello everybody! I would appreciate your feedback on this problem. I would be willing to work on a PR if we can agree on how this would be best handled.

A bit of backstory: I'm working on a high-level toolset to decouple Drupal with React. I'm using `redux-json-api` but I'm running into the following problem.

The JSON:API URL construction in Drupal is a little special (apparently because the dat

[2018-09-25 13:18] mspae commented on #168
I've forked this and implemented it. Let me know if you want me to open a PR: https://github.com/mspae/redux-json-api/commit/24c4fd9c129f42b49d7cc0427a0e708549e06f53

[2018-09-26 09:58] #162 closed

[2018-09-26 10:14] egeriis commented on #168
Hey @mspae!

Thank you for a thorough issue description. I think we should implement support for what you're asking for, but we may need to generalize it a bit more, so we can support more use cases. We've had a good chunk of requests for being able to plug into redux-json-api's functionality.

A few specific suggestions:

1. Implement a `beforeRequest` hook, that can be used to manipulate the req

[2018-09-26 11:10] mspae commented on #168
Agreed! 😃

I'm just thinking if it would be possible to implement this with middlwares without breaking the publicly facing API. (Apart from the fact that you need to add the middleware of course)

I'm a bit new to redux middlewares so I'm not sure I've groked it. Hypothetically it would be possible to split the functionality into request trigger actions (the current public API actions) and do the

[2018-09-26 15:39] egeriis commented on #168
I think something like this would work. One of the main advantages is easy global configuration and the ability to specify which state key you would like redux-json-api mounted on.

[code]

Then the middleware would just have to register the redux-json-api reducer. E.g. using [`replaceReducer`](https://github.com/reduxjs/redux/blob/master/docs/api/Store.md#replacereducernextreducer)

[2018-09-27 10:53] mspae commented on #168
So implement this using a middleware for the initialization of redux-json-api but not for the actual asynchronous API requests?

Where would the `hooks` be cached, in some global reduxJsonApi instance?

[2018-09-27 14:43] egeriis commented on #168
Yeah, so we don't need to change how actions are dispatched. I don't think that's necessarily.

Yeah, should be fine to just have a var in [jsonapi.js](https://github.com/redux-json-api/redux-json-api/blob/master/src/jsonapi.js) where we store these configuration details.

[2018-09-30 08:28] mspae commented on #168
Okay so I've been thinking. Because I want to make this as extendible as possible within this framework I'm building and middlewares are of course the best way to do that:

We add the reducer via middleware with `replaceReducer` like you said. In addition we create an `EventEmitter` and cache that. Then everytime you call for instance `updateResource` we go through the whole asynchronous middlewar

[2018-10-01 13:34] egeriis commented on #168
If I understand your correctly, the middleware is responsible for global configuration, while the EventEmitter enables hooking into the various API requests. Sounds good to me 🙂

I think everything should be configurable "by instance", i.e. with this new approach you could potentially have two redux-json-api reducers with different configurations, two "instances".

[2018-10-01 14:12] mspae commented on #168
The middleware is responsible for manipulating the payload, performing the request and then passing the data to the reducer (this way people can hook into any of these steps along the way, e.g. to change the endpoint URL), the EventEmitter is responsible for resolving/rejecting the original action creator Promises so the original API doesn't break (and so we don't loose this very useful feature th

[2018-10-08 07:44] mspae commented on #168
Right. Scratch that. I think I've been overcomplicating things.

New idea: Everything stays the same, the API action functions receive an optional second argument (`options`) like some already do. Within this you can add your per-request custom `axiosConfig`, `stateKey`(default: `api`) etc.

Before the options are actually used in the request it is set to to the store in a `requestConfig` property

[2018-10-09 17:15] Nopzen commented on #164
So okay I'am back on track now.

So i, working on this PR again and for now i will update the documentation on how to get going, and setting up the axios config.

And on this comment form @egeriis

I investigated it broke a lot by removing the `endpoints` key, i expected this, but I've refactored it to a working state again, and are no building tests for this use case, meanwhile i explored this re

[2018-10-11 11:49] skyride99 opened #169 "Action type is undefined"
for
        dispatch(setAccessToken(authToken))

getting

action     {type: undefined, payload: {…}}payload: {Authorization: "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleH…IzOH0.um7qXa7CzEkYCx8VGnZQIjXrrah0_dzulMinkb2S3X4"}type: undefined__proto__: Object
redux-logger.js:1  error      Error: Actions may not have an undefined "type" property. Have you misspelled a constant?
    at Object.perfo

[2018-10-11 12:08] mspae commented on #169
@skyride99  This action creator is out of date. (The documentation hasn't been updated yet)

You need to use the `setAxiosConfig` – See here for an example https://github.com/dvidsilva/redux-json-api-demo/#configuring-the-api-server-options

[2018-10-11 12:16] skyride99 commented on #169
but i am using 1.7.1, with React 16.

Only v2 works with react 16?

[2018-10-11 18:13] egeriis commented on #169
This is unrelated to React. Very weird that action.type is undefined. I'm curious if you have some middleware which interferes with the actions, I've never heard of this issue before.

[2018-11-02 05:07] jibran opened #171 "Pagination URLs can be objects."
According to https://jsonapi.org/format/#document-links

[2018-11-06 13:08] #171 closed

[2019-02-19 13:37] abdulsemiu-atanda commented on #115
I'm currently experiencing this issue, my guess is that "so as not to make an extra data call to update the state on the resource I'm trying to delete, `redux-json-api` just pops that value from state" which in my use case is not ideal 'cause it's only the `DELETE` action that is exposed in my API. any idea on how to work around this other than having to manually edit `state-mutation.js` since I c

[2019-04-25 14:15] vinay-nadig-0042 opened #174 "Unable to start expo due to Node standard library dependency of keykey"
Hello,

I am building a react native app using expo and just added redux-json-api as a dependency.

When I try to start expo using the command `npm start`, I get the following error.

[code]

Looks like this library uses keykey as a dependency which in turn has a `var _util = require('util');` in it's codebase which is causing the issue.

I can see that  there was an issue earlier to remove keykey

[2019-05-01 19:25] westandy-dcp opened #175 "angular @angular-redux process not defined"
My current packages include:

@angular 7
@angular-redux/store 9
@redux 4
@redux-json-api 2
@redux-observable 1
@redux-thunk 2

I'm trying to add redux-json-api and redux-thunk to my frontend to interact with a jagql-jsonapi-server on the backend.

I followed the setup instructions provided here on GitHub.  The `applyMiddleware(thunk)`, etc. all work fine.  As soon as I do this:

[code]

I am getti

[2019-05-01 19:55] westandy-dcp commented on #175
I did more experimenting, even if I simple do a `console.log(api);` I get that same error.  Basically, if I refer to anything imported from the redux-json-api library, then I get that error.

[2019-05-01 20:03] westandy-dcp commented on #175
Because I'm in TypeScript (thanks to Angular), I noticed that VSCode gave me this warning:

Could not find a declaration file for module 'redux-json-api'.
 '/Users/andy/repos/gas-scheduling/frontend/node_modules/redux-json-api/lib/jsonapi.js'
implicitly has an 'any' type.  Try `npm install @types/redux-json-api` if it exists or add a new declaration (.d.ts) file containing `declare module 'redux-j

[2019-05-01 20:36] westandy-dcp commented on #175
I added this to the polyfills.ts in the application:

[code]

You might want to check your tests and make sure you not refer to `process.env` anywhere

[2019-05-02 13:11] egeriis commented on #175
No `process` usage in redux-json-api :)

https://github.com/redux-json-api/redux-json-api/search?q=process&unscoped_q=process

[2019-05-02 13:12] egeriis commented on #175
The stack shows that the error comes from `keykey`, not sure why it's looking at `process`.

[2019-05-02 13:17] westandy commented on #175
So I pulled the repo down and did some searching myself.  I agree that there’s no process anywhere.  Except in the node_modules.  I’m wondering if a dependency is introducing that.  🤔

[2019-05-02 22:37] #175 closed

[2019-05-04 18:48] kaglowka opened #176 "babel-runtime must be added manually to build"
The issue appears in a typescript build while upgrading `webpack-cli` from `2.0.14` to `3.3.1`.

Apparently `redux-json-api` has `babel-runtime` dependency. I don't know why this `webpack-cli` caused this to come out.

package.json
[code]

Relevant webpack config:
[code]

errors:
[code]

Quick fix -- add `babel-runtime` manually.
package.json:
[code]

By the way -- as far as I know babel switched

[2019-05-15 22:29] dvidsilva commented on #156
@egeriis  sorry, the docs are still not updated, the configure still has the old docs, https://github.com/redux-json-api/redux-json-api/blob/v2.0.0/docs/set-up-configure.md

I can make some time this week and send a PR

[2019-06-22 15:43] vlavlad opened #177 "Media Types (Content Negotiation) for mutlipart/form-data content type. Request for implementation."
Hi, thank you for the very useful package for developing. I'm glad to use it in my project.

I faced the issue when I start to implement the uploading file (images) on the front-end. The main issue that is package doesn't allow to send the request with another content type application/vnd.api+json. I had to make my own implementation for supporting the mutlipart/form-data type, but it's not much r

[2019-10-13 07:52] vicmosin opened #178 "Is there any known live fork of this repo?"
This one seems to be dead with 3 open PRs and no responses in issues

[2020-02-10 20:39] egeriis commented on #178
I don't know of any. The PRs are mostly stale because of the contributors not returning after having it reviewed 🤷‍♂ That said, I myself do not actively maintain this anymore.

[2020-07-12 20:16] guillaumelebovic commented on #174
Hello,

Same problem here, I've tried to add it manually but it still don't work... any idea?

Here is my package.json file

"dependencies": {
    "babel-runtime": "^6.26.0",
    "expo": "~38.0.8",
    "expo-status-bar": "^1.0.2",
    "keykey": "^3.0.0",
    "react": "~16.11.0",
    "react-dom": "~16.11.0",
    "react-native": "https://github.com/expo/react-native/archive/sdk-38.0.2.tar.gz",
    "

[2020-08-17 06:24] dakota commented on #54
Closing as this is supported in v2

[2020-08-17 06:24] #54 closed

[2020-08-17 06:29] dakota commented on #46
Closing due to no movement.

You can accomplish the same thing by using [axios interceptors](https://github.com/axios/axios#interceptors).

[code]

[2020-08-17 06:29] #46 closed

[2020-08-17 06:31] dakota commented on #18
Closing as stale. Feel free to reopen if you'd like to continue discussing this.

[2020-08-17 06:31] #18 closed

[2020-08-17 06:46] dakota commented on #116
This seems to have been handled in v2.0. Feel free to reopen if it's still an issue.

[2020-08-17 06:46] #116 closed

[2020-08-17 06:46] dakota commented on #135
This is handled in #193

[2020-08-17 06:46] #135 closed

[2020-08-17 06:59] dakota commented on #167
Closing as stale.

[2020-08-17 06:59] #167 closed

[2020-08-17 07:13] dakota commented on #169
Closing as stale, feel free to reopen if you are still having the issue.

[2020-08-17 07:13] #169 closed

[2020-09-10 07:37] dakota commented on #178
@vicmosin Been a while, but I have taken over active maintenance.

[2020-09-10 07:39] #178 closed

[2020-10-26 14:28] Mory1879 opened #196 "getRelatedResources crashes if relationship data is null"
For example, if you use state from your [test file](https://github.com/redux-json-api/redux-json-api/blob/master/test/selectors.test.js#L5) and try to get `companies` from `Emily Jane`, then selector fails on [this line](https://github.com/redux-json-api/redux-json-api/blob/master/src/jsonapi.js#L619) with error `Cannot read property 'type' of null`.
This behavior occurs due to `relationshipData`

[2020-10-27 13:21] Mory1879 opened #197 "Export instance of axios that used in requests"
Without exported instance, it's impossible to add customization to requests and responses (for example interceptors for logging/authorization).

[2020-10-28 09:49] Mory1879 commented on #196
Added PR with tests and fix for this error

[2021-03-03 09:52] KODerFunk commented on #196
@egeriis, @Nopzen, @dakota For close this issue need release new version to npm with merged fix.

[2021-11-18 18:40] victor-vineti commented on #177
Bumping this up. I'd like to add a custom content-type/accept header as well.

@vlavlad do you perhaps have code I could reference, as I'd like to send my own content-types too.